/* Форма об-ий */

#advertisements-form{}

#advertisements-form select,
#advertisements-form input,
#advertisements-form textarea,
#advertisements-form button{
    margin: 0;
    padding: 0;
}

#advertisements-form input[type=text],
#advertisements-form textarea{
    padding: 4px;
    width: 450px;
}

#advertisements-form textarea{
    min-height: 120px;
}

#advertisements-form select{
    width: 150px;
}

#advertisements-form .form_row{
    margin: 0 0 15px 0;
    padding: 0;
}

#advertisements-form .form_row div > label{
    float: left;
    width: 100px;
}

#advertisements-form .block_content{
    float: left;
}

#advertisements-form #Advertisements_number_of_rooms label{
    margin-left: 5px;
}

#advertisements-form #Advertisements_number_of_rooms input{
    position: relative;
    top: 3px;
}

/* Форма об-ий */






/* Таблица об-ий */

#advertisements-grid{}

#advertisements-grid .button-column a{
    margin-right: 3px;
}

#advertisements-grid tbody tr{
    height: 60px;
}

#advertisements-grid #advertisements-grid_c0{
    width: 30px;
}

#advertisements-grid #advertisements-grid_c1{
    width: 203px;
}

#advertisements-grid #advertisements-grid_c4{
    width: 87px;
}

#advertisements-grid #advertisements-grid_c5{
    width: 104px;
}

/* Таблица об-ий */





/* Иконки */

.add_image{
    background: url("/images/all_icons/coquette/24x24/add_image.png") no-repeat top center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
}

.delete_image{
    background: url("/images/all_icons/coquette/24x24/delete_image.png") no-repeat top center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
}

/* Иконки */






/* Общие */

.modal{
    background-color: white;
    padding: 10px 10px 15px 20px;
    border-radius: 5px;
    border-color: #3C578C;
    width: 600px;
    min-height: 200px;
}

/* Общие */