.label-info {
    background-color: #5BC0DE;
}
.label {
    border-radius: 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

body {
    background-color: #F0F0F0;
    font-family: "Oxygen", Helvetica, Arial, sans-serif;
    height: 100%;
    margin-top: 0;
    width: 100%;
}

#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

.overlay_1 {
    height: 100%;
    width: 100%;
    /*position:fixed;*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999 !important;
    background-color: #ffffff;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;

    /*border-radius: 10px 10px 15px 15px;*/
    /*moz-border-radius: 10px 10px 15px 15px;*/
    /*webkit-border-radius: 10px 10px 15px 15px;*/

    /*filter: alpha(opacity=30);*/
    /*-khtml-opacity: 0.20;*/
    /*-moz-opacity: 0.20;*/
    /*opacity: 0.20;*/
}

#footer {
    text-align: center;
}

#catalog-search-form {
}

#catalog-search-form ul {
    margin: 0;
    padding: 0;
}

#catalog-search-form ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#catalog-search-form .cs-menu {
}

#catalog-search-form .cs-menu .cs-menu-item {
}

#catalog-search-form .cs-menu label:hover, #catalog-search-form .cs-menu input:hover {
    cursor: pointer
}

#catalog-search-form .cs-sub-menu {
}

#catalog-search-form .cs-sub-menu.cs-sub-menu-opened {
}

#catalog-search-form .cs-sub-menu.cs-sub-menu-closed {
    display: none;
}

#catalog-search-form .cs-sub-menu .cs-sub-menu-item {
    padding-left: 20px;
}

#catalog-search-form .catalog-search-title {
}

#catalog-search-form .catalog-search-option-title {
}

#catalog-search-form .panel-body > h4 {
    text-align: left;
}

.media-object {
    display: block;
}

ul.media-list {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

ul.media-list li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #D6D3D3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}

ul.media-list li.premium-item {
    background: none repeat scroll 0 0 #27B3E0;
    color: #DAF2FA;
}

ul.media-list li.premium-item a {
    color: #DAF2FA;
}

ul.media-list .media-object {
    height: 100px;
    width: 125px;
}

ul.media-list .media-body {
    font-size: 12px;
    padding: 10px;
}

.media-body h4 {
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 0;
    padding-right: 10px;
}

.pager li > a, .pager li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    display: inline-block;
    padding: 5px 14px;
}

.well.panel {
    background-color: #FFFFFF !important;
    border: 1px solid #E3E3E3 !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

.form-group .input-group select {
    width: 50%;
}

.form-group .input-group input:first-child {
    width: 44.8%;
}

.form-group .input-group select:last-child {
    left: -1px;
}

#user-navbar.navbar-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    margin-bottom: 0;
}

#logo {
    display: inline-block;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-top: 4px;
}

.old_images_box ._item {
    margin-bottom: 10px;
}

ul.footer-links {
    list-style-type: none;
}

ul.footer-links li {
    display: inline-table;
    margin: 0 20px;
}

.menu-create-add a {
    font-weight: bold;
    text-decoration: underline;
}

ul.vip-adv-list {
    margin: 0;
    padding: 0;
}

ul.vip-adv-list li {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}

ul.vip-adv-list li:last-child {
    padding: 0;
    margin: 0;
}

ul.vip-adv-list .adv-image {
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;
}

ul.vip-adv-list .adv-image img {
    width: 100%;
}

ul.vip-adv-list .adv-title {
    margin-top: 5px;
    text-align: center;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {

}