#style-switcher {  
  position: fixed;  
  width: 260px;  
  top: 15px;  
  margin-left: -290px;  
  color:#333;
  background: url(0.png) #f3f3f3;
  padding: 20px 10px;
  border: 4px solid #515151;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index:9999999;     
} 

#style-switcher-container {
  position: relative;  
  width: 260px;    
}

.color_whell {
background: url(color2.png) no-repeat left top;
height: 70px;
width: 60px;
position: absolute;
right: -70px;
top: 10px;
cursor: pointer;
}

.caseta-menu,
.caseta
a.caseta-menu,
a.caseta,
a.casetapat
 {
	width:20px;
	height:20px;
	line-height: 20px;
	display:block;
	float:left;
	margin-right:2px;
	margin-left:2px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	text-align: center;
	color: #555;
	font-size: 10px;
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.caseta:hover,
a.caseta:hover
 {
	border: 1px solid #DC143C;
	color: #DC143C;
	text-decoration: none;
	cursor: default;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.cs_active,
a.cs_active
 {
	border: 1px solid #8B0000;
	color: red;
}

#colorpicker, #colorpicker2, #colorpicker3 {
	width: 24px;
	height: 24px;
	background-image: url(select2.png);
	background-repeat:no-repeat;
	float:left;
	margin-right:1px;
	margin-left: 1px;
}

#colorpicker div, #colorpicker2 div, #colorpicker3 div {
	width: 24px;
	height: 24px;
	background: url(select2.png) center;
}
div.switchercontainer{
	margin-bottom:10px;
}
div.switchercontainer span{
	display:block;
	margin-bottom:3px;
	margin-top:10px;
	padding-left:2px;
	color:#333333;
	font-size: 10px;
}

.color_ch {
margin: 0;
padding: 0 !important;
line-height: 22px;
}

.color_ch span{
padding: 2px 0 !important;
}

.color_ch #colorpicker, .color_ch #colorpicker2, .color_ch #colorpicker3  {
margin: 1px 5px !important;
}

a#switcher-reset{
	display:block;
	height:24px;
	width: 80px;
	line-height:24px;
	font-size:12px;
	padding: 0 10px;
	margin-left: 74px !important;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a:hover#switcher-reset{
	text-decoration: none;
}

.note_switcher {
font-size: 10px;
}


/* Color Switcher */
#color-switcher {  
  display: block;
  position: fixed;  
  width: 80px;  
  top: 140px;  
  margin-left: -5px;  
  color:#333;
  background: url(0.png) #eee;
  padding: 10px 5px 10px 8px;
  border: 4px solid #515151;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  z-index:9999997; 
} 

#color-switcher-container {
  position: relative;  
  width: 80px;  
  display: block;
}

#color-switcher-container a {
	width:20px;
	height:20px;
	line-height: 20px;
	display:block;
	float: left;
	margin:2px;
	border: 1px solid #fff;
	text-align: center;
	color: #555;
	font-size: 10px;
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
}