/* Menu bar */
/*nav#horizontal {
    background: url(../../images/theme/gray/menu.png) center top;
}*/

/* Links color */
/*a { color: #056399; }
a:hover{ color: #2A84A9; }*/

/* Passive hedings link color */
/*h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}*/


