/* Menu bar */
/*nav#horizontal {
background: url(../../images/theme/black/menu.png) center top;
}*/

/* Links color */
/*a { color: #000; }
a:hover{ color: #222; }*/

/* Passive hedings link color */
/*h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}*/


