/*FONTS START*/

@font-face {
    font-family: "My_Lobster";
    src: url(fonts/LOBSTER.TTF) format("truetype");
}

@font-face {
    font-family: "Comfortaa-Light";
    src: url(fonts/Comfortaa-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url(fonts/Comfortaa-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url(fonts/Comfortaa-Regular.ttf) format("truetype");
}

/*@font-face {
    font-family: "PT Sans";
    src: url(fonts/PT_Sans/PTS55F.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans";
    src: url(fonts/PT_Sans/PTS75F.ttf) format("truetype");
}*/
/*PTN57F.ttf*//* 1*/
/*PTC55F.ttf*//* 4*/
/*PTC75F.ttf*//* 4.9*/
/*PTN77F.ttf*//* 4.9*/
/*PTS55F.ttf*//* 1*/
/*PTS56F.ttf*//* 1*/
@font-face {
    font-family: "PT Sans";
    src: url(fonts/PT_Sans/PTS75F.ttf);
}

/*FONTS END*/

/*=================== PROJECT =====================*/
.add_title{
	font-size: 14px;
	font-weight: normal;
    padding: 10px 10px 10px 0;
}

.add_title a{
    /*color: #0D3B5E;*/
    color: #00467A;
}
.add_title a:visited{
    /*color: #666677;*/
    /*color: #49565F;*/
    color: #606A71;
}
.adv-is-colored .add_title a:visited{
    color: #00467A;
}

.add_preview{
	margin-right: 5px;
    padding: 10px 0 0 0;
}
.add_preview img{}

.top_search_bar{}

.top_search_bar a{
    outline: none;
}

.top_search_bar label{
    font-size: 1em;
    font-weight: bold;
    margin-top: 3px;
}

.top_search_bar .chzn-container{
    /*margin-left: 5px;*/
    /*margin-right: 16px;*/
    /*margin-left: 5px;*/
    /*margin-right: 3px;*/
    margin-left: 11px;
    margin-right: 8px;
}

.top_search_bar .radio{
    position: relative;
    top: 4px;
    left: 1px;
}

.top_search_bar .chzn-container .chzn-single{
    
}

.top_search_bar label,
.top_search_bar .chzn-container,
.top_search_bar .radio{
    float: left;
}

.modal{
    background-color: white;
    padding: 10px 20px 15px 20px;
    border-radius: 5px;
    border-color: #3C578C;
}

.modal .form_place{
    margin-bottom: 0 !important;
}

.modal .form_row:last-child{
    padding-bottom: 0 !important;
}

#pager{
    float: none !important;
}

#list_pagination .active_list_link a,
#list_pagination .disabled_list_pagination a{
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.widget h2.block-title{
    border-bottom-width: 0;
    color: #CCCCCC;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 0 0 10px 3px;
    text-align: left;
    /*text-indent: 10px;*/
}

.widget h2.block-title strong{
    font-weight: normal;
}

#nav_footer{}

#nav_footer li{}

#nav_footer li a{
    padding: 0 5px;
}

h2.adv-text{
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    line-height: 19px;
}

.vipAdv{
    padding: 10px;
    border-color: orange !important;
    background-color: #FFD9A9 !important;
}

.vipAdv h2.text{
    border: medium none;
    font-size: 1em;
    line-height: 20px;
    text-align: left;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.vipAdv .info{
    font-weight: bold;
    margin-top: 5px;
}

.advertisements-form{}

.advertisements-form label{
    font-weight: bold;
}

.advertisements-form label span.required{
    color: #ff0000;
}

.advertisements-form input[type="text"]{
    height: 16px;
}

.advertisements-form input[type="text"],
.advertisements-form textarea,
.advertisements-form select{
    min-width: 40px;
    width: 100%;
}

.advertisements-form .table-grid .grid-50 input[type="text"],
.advertisements-form .table-grid .grid-50 textarea,
.advertisements-form .table-grid .grid-50 select {
    /*width: 126px;*/
}

.advertisements-form input[type="text"],
.advertisements-form textarea{
    padding: 5px 4px;
}

.advertisements-form .currency,
.advertisements-form .price{
    float: left;
}

.advertisements-form #Advertisements_price{
    width: 100%
}

.advertisements-form .price{
    width: 48%;
    margin-right: 14px;
}

.advertisements-form #Advertisements_currency_id{
    width: 100%
}

.advertisements-form .currency{
    width: 40%;
}

.advertisements-form #Advertisements_owner_phone{
    width: 130px;
}

.advertisements-form .grid-25:last-child .cell-inner{
    /*margin-left: 20px;*/
}

#kot-advertisement{}

#kot-advertisement a{
    font-family: "My_Lobster";
    font-size: 2em;
    color: #111111;
    text-decoration: underline;
}


.sidebar_l .widget.advertisement-block,
.sidebar_r .widget.advertisement-block
{
	background: none;
	border: none;
	margin: 5px 0 30px 10px;
	position: relative;
    border-radius: 0;
}

#advertisements-form #adv-submit{
    float: right;
    margin-right: 12px !important;
    margin-top: 0;
}

#catalog-search-form{
    margin-top: -14px;
}

#catalog-search-form ul{
    margin: 0;
    padding: 0;
}

#catalog-search-form ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#catalog-search-form .cs-menu{
    margin-left: 104px;
    margin-bottom: 10px;
}

#catalog-search-form .cs-menu .cs-menu-item{}

#catalog-search-form .cs-menu label:hover, #catalog-search-form .cs-menu input:hover{
    cursor: pointer
}

#catalog-search-form .cs-sub-menu{
    padding-left: 15px;
    margin-bottom: 12px;
}

#catalog-search-form .cs-sub-menu.cs-sub-menu-opened{}

#catalog-search-form .cs-sub-menu.cs-sub-menu-closed{
    display: none;
}

#catalog-search-form .cs-sub-menu .cs-sub-menu-item{}

#catalog-search-form .catalog-search-title{
    text-align: left;
}

#catalog-search-form .catalog-search-option-title{
    font-weight: bold;
    text-align: center;
}

.widget.vip-adv{
    border: medium none;
    text-align: center;
}

.widget.vip-adv .vip-adv-inner{
    padding: 0 60px;
}

.widget.vip-adv img{
    max-width: 170px;
    max-height: 170px;
}

.widget.adv-popular {
    border: medium none;
    border-radius: 0;
    /*background-color: rgb(213, 236, 224);*/
    background-color: #C9ECF2;
    padding: 6px 0;
}

a.my-searcher-link {
    background: url("/images/all_icons/fatcow-hosting-icons-3000/16x16/new.png") no-repeat scroll right top transparent;
    bottom: -27px;
    color: #0C25C0;
    display: inline-block;
    font-weight: bold;
    padding-right: 8px;
    padding-top: 3px;
    position: relative;
    text-decoration: underline;
    width: 145px;
    float: right;
}

.searcher-wrapper {
    position: relative;
}

.searcher-wrapper .toggle-searcher-block {
    font-weight: bold;
}

.searcher-form-block {}

.searcher-form-block select {
    width: 147px;
}

.searchers-list .searcher {
    margin-bottom: 5px;
}

.searcher-wrapper {}

.searchers-list {
    margin-top: 20px;
}

/*=================== PROJECT =================END=*/




/*=================== COMMON =====================*/

.float-none{
	float: none !important;
}
.float-right{
	float: right !important;
}
.float-left{
	float: left !important;
}

.table-grid{}

.table-grid .grid-row{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.table-grid .grid-25{
    width: 25%;
    float: left;
}

.table-grid .grid-25 input[type="text"],
.table-grid .grid-25 textarea,
.table-grid .grid-25 select {
    width: 140px;
}

.table-grid .grid-50{
    width: 50%;
    float: left;
}

.table-grid .grid-50 input[type="text"],
.table-grid .grid-50 textarea,
.table-grid .grid-50 select {
    width: 285px;
}

.table-grid .grid-100{
    width: 100%;
    float: left;
}

.table-grid .grid-100 input[type="text"],
.table-grid .grid-100 textarea,
.table-grid .grid-100 select {
    width: 285px;
}

.table-grid .cell-inner{
    margin: 0 5px;
}

.overlay_1{
    height:100%;
    width:100%;
    /*position:fixed;*/
    position: absolute;
    left:0;
    top:0;
    z-index: 9999 !important;
    background-color: #ffffff;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;

    border-radius: 10px 10px 15px 15px;
    moz-border-radius: 10px 10px 15px 15px;
    webkit-border-radius: 10px 10px 15px 15px;

    /*filter: alpha(opacity=30);*/
    /*-khtml-opacity: 0.20;*/
    /*-moz-opacity: 0.20;*/
    /*opacity: 0.20;*/
}

span.span-btn {}

span.span-btn:hover {
    cursor: pointer;
}

/*=================== COMMON =================END=*/