body
{
	/*background: url(../images/pattern/13.png) 0 0 scroll #ccc;*/
    background-color: #242424;
	color: #444;
	font: 13px/1.6 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
a
{
	color: #0d3b5e;
}
a:hover
{
	color: #356081;
}
hr
{
	background: url(../images/pattern/2.png) 0 0;
	border: 0;
	clear: both;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	max-width: 940px;
}
.margin_top_0
{
	margin-top: 0!important;
}
.margin_top_5
{
	margin-top: 5px!important;
}
.margin_top_10
{
	margin-top: 10px!important;
}
header,nav,article,footer,address,section
{
	display: block;
}
#wrap
{
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	position: relative;
	width: 1000px;
}
.wrap_block
{
	/*background: #eee;*/
	background: #ffffff;
	border-radius: 10px 10px 15px 15px;
	box-shadow: 0 3px 15px rgba(0,0,0,0.8);
	moz-border-radius: 10px 10px 15px 15px;
	moz-box-shadow: 0 3px 15px rgba(0,0,0,0.80);
	position: relative;
	webkit-border-radius: 10px 10px 15px 15px;
	webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.80);
	width: 1000px;
}
.layout
{
	min-height: 600px;
	padding-bottom: 30px;
	padding-top: 31px;
	position: relative;
}
header.main_header,header.main_header section .container
{
	position: relative;
}
header.main_header .top
{
	height: auto;
	margin-left: -10px;
	position: relative;
	width: 960px;
}
header.main_header .top
{
	margin-left: -10px;
	position: relative;
	width: 960px;
}
header #searchform
{
	position: absolute;
	right: 0;
	top: 14px;
}
#searchform #s
{
	background: #fff;
	background: url(../images/search.png) no-repeat 170px center #fff;
	border: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #999;
	float: left;
	font: .9em/1em Georgia,"Times New Roman",Times,serif;
	line-height: 16px;
	margin: 0;
	moz-border-radius: 5px;
	outline: none!important;
	padding: 10px 5px;
	webkit-border-radius: 5px;
	width: 190px;
}
#searchform #s:focus
{
	color: #333;
}
a.logo
{
	/*background: url(../images/rooms.md.logo7.png) no-repeat 0 0 scroll;
	display: block;
	height: 68px;
	left: 26px;
	margin: 0;
	outline: 0;
	position: absolute;
	top: 0;
	width: 233px;*/

	background: url(../images/rooms.md.logo7.png) no-repeat 0 0 scroll;
	display: block;
	height: 68px;
	margin: 0;
	width: 233px;
}
nav#horizontal
{
	border: 0;
	margin: 31px 0 0 62px;
    padding: 0;
}

#main-nav
{
	margin: 0;
	padding: 0;
    text-align: left;
}

#custom-menu{
    color: #2B3027;
    font: 700 normal 17px/18px 'PT Sans' !important;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#main-nav li
{
	display: inline;
    margin: 0 3px;
    list-style-type: none;
}
#main-nav a
{
    color: #2B3027;
    /*font: 700 normal 16px/18px 'PT Sans' !important;*/
    font: normal 16px/18px 'PT Sans' !important;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#main-nav a:hover
{
	text-decoration: underline
}

.login_register_block
{
	background: #333;
	margin-left: -20px;
	width: 1000px;
}
.login_register_block div
{
	color: #eee;
}
.lr_button
{
	background: #333;
	border: 1px solid #111;
	border-radius: 0 0 3px 3px;
	border-top: 0;
	cursor: pointer;
	display: block;
	float: right;
	font-size: 12px;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	margin: 0;
	margin-right: 30px;
	margin-top: -1px;
	moz-border-radius: 0 0 3px 3px;
	padding: 1px 6px;
	text-align: center;
	webkit-border-radius: 0 0 3px 3px;
	width: auto;
}
.lr_button2
{
	background: url(../images/login.png) no-repeat 0 -5px #333;
}
.lr_content.lr_close
{
	color: #000;
}
.lr_content
{
	border-bottom: 1px solid #111;
	font-size: 12px;
	padding: 10px 20px;
}
.lr_content a
{
	color: #c0c0c0;
	font-size: 11px;
	font-weight: 400;
	text-decoration: none;
}
.lr_content form
{
	padding-top: 3px;
}
.lr_content a:hover
{
	color: #eee;
}
.lr_content label
{
	color: #ccc!important;
	font-weight: 700;
	margin-left: 10px;
}
.lr_content .login_submit
{
	border: 1px solid #000;
	margin-left: 10px;
	margin-top: -2px;
	padding: 7px 12px!important;
}
.login_input
{
	background: url(../images/log_ico.png) no-repeat 5px -3px #444!important;
	border: 1px solid #111!important;
	border-radius: 5px!important;
	color: #eee;
	margin-right: 10px;
	moz-border-radius: 5px!important;
	padding: 8px 8px 8px 26px!important;
	webkit-border-radius: 5px!important;
	width: 160px;
}
.login_input.user
{
	background-position: 5px -3px!important;
}
.login_input.password
{
	background-position: 5px -55px!important;
}
footer.main_footer
{
	background: url(../images/pattern/62.png) repeat 0 0 #373737;
	border-radius: 0 0 10px 10px;
	color: #fff;
	moz-border-radius: 0 0 10px 10px;
	padding-top: 0!important;
	position: relative;
	webkit-border-radius: 0 0 10px 10px;
}
footer.main_footer,footer.main_footer section,section.mini_footer div
{
	color: #ddd;
}
.copyright
{
	margin-left: 10px;
	/*margin-top: 40px;*/
	margin-top: 19px;
}
.mini_footer
{
	/*background: url(../images/footer_line.png) no-repeat center top;*/
	bottom: 0!important;
	/*height: 80px;*/
	height: 57px;
	left: 0;
	position: relative;
	width: 100%;
}
.footer_text
{
	color: #eee;
	line-height: 1.6;
	margin-top: 30px;
}
h3.ft_title
{
	color: #fff;
	margin-top: 30px;
}
a.logo_on_footer
{
	background: url(../images/logo_on_footer.png) no-repeat 0 0 scroll;
	height: 48px;
	margin: 0;
	outline: 0;
	position: absolute;
	top: 26px;
	width: 233px;
}
ul.vnav
{
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 0;
	text-decoration: none;
}
.vnav li:hover>ul
{
	display: block;
}
ul.vnav li,ul.vnav li a
{
	float: none;
}
ul.vnav li a
{
	border: 0;
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: 400;
	height: 34px;
	line-height: 34px;
	margin: 0;
	padding: 0;
	text-align: left;
}
ul.vnav li a:hover
{
	background: url(../images/menu_footer.png) repeat 0 0;
	border-radius: 5px;
	moz-border-radius: 5px;
	text-decoration: none;
	webkit-border-radius: 5px;
}
nav#ft_links
{
	color: #ddd;
	float: right;
	position: relative;
	right: 0;
	/*top: 35px;*/
	top: 13px;
	z-index: 99;
}
#nav_footer li
{
	background: 0;
	display: inline;
	float: left;
	position: relative;
	margin-left: 2px;
    list-style-type: none;
}
#nav_footer li a
{
	color: #fff;
	display: block;
	font: 13px/1.6 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	font-weight: 400;
	line-height: 34px;
	margin-right: 2px;
	margin-top: 0;
	padding: 0 12px;
	padding: 0;
	text-decoration: none;
	zoom: 1;
}
#nav_footer li a:hover,#nav_footer li a.hov,#nav_footer li a.active
{
	background: url(../images/menu_footer.png) repeat 0 0;
	border: 0;
	border-radius: 5px;
	color: #fff;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
footer.main_footer p
{
	color: #fff!important;
	margin-bottom: 15px;
	margin-top: 16px;
}
footer.main_footer p a
{
	color: #ddd!important;
}
footer.main_footer .social
{
	float: left;
	margin-bottom: 10px;
	margin-left: 0;
	margin-top: 15px;
}
footer.main_footer .social a
{
	display: inline-block;
	height: 32px;
	margin: 0 5px 0 0;
	text-decoration: none;
	width: 32px;
}
footer.main_footer .social a.twitter
{
	background: url(../images/social/twitter.png) no-repeat 0 0;
}
footer.main_footer .social a.facebook
{
	background: url(../images/social/facebook.png) no-repeat 0 0;
}
footer.main_footer .social a.linkedin
{
	background: url(../images/social/linkedin.png) no-repeat 0 0;
}
footer.main_footer .social a.digg
{
	background: url(../images/social/digg.png) no-repeat 0 0;
}
footer.main_footer .social a.flickr
{
	background: url(../images/social/flickr.png) no-repeat 0 0;
}
footer.main_footer .social a.email
{
	background: url(../images/social/email.png) no-repeat 0 0;
}
footer.main_footer .social a.skype
{
	background: url(../images/social/skype.png) no-repeat 0 0;
}
footer.main_footer .social a.feed
{
	background: url(../images/social/feed.png) no-repeat 0 0;
}
#contact input[type=text],#contact .email,#contact textarea
{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;
	color: #333;
	font: 13px/1.6 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	height: 36px;
	line-height: 24px;
	margin: 10px 8px 21px -4px;
	moz-border-radius: 0 5px 5px 0;
	outline: 0;
	padding: 0 3px;
	webkit-border-radius: 0 5px 5px 0;
	width: 440px;
}
#contact .email:focus
{
	background: #fff;
	box-shadow: none;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
#contact textarea
{
	border-radius: 5px;
	height: 200px;
	margin-left: 0;
	moz-border-radius: 5px;
	padding: 7px;
	webkit-border-radius: 5px;
	width: 514px;
}
#contact label
{
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 30px;
}
#contact .input_label
{
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #fff;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin-right: 0;
	moz-border-radius: 5px 0 0 5px;
	webkit-border-radius: 5px 0 0 5px;
	width: 80px!important;
}
#contact .user label
{
	background: url(../images/user.png) no-repeat 8px center;
}
#contact .user_email label
{
	background: url(../images/email.png) no-repeat 8px center;
}
#contact .user_subject label
{
	background: url(../images/subject.png) no-repeat 8px center;
}
#contact .user_verify label
{
	background: url(../images/verify.png) no-repeat 8px center;
}
#contact .user_verify
{
	width: 80px!important;
}
#contact .div_verify
{
	float: left;
}
#contact input[type=submit]
{
	cursor: pointer;
}
#contact .captcha
{
	border: 1px solid #ccc;
	color: #000;
	font-weight: 700;
	line-height: 20px;
	margin-top: 13px;
	width: 64px!important;
}
#contact .contact_submit
{
	margin: 0;
	margin-left: 12px;
	margin-top: 11px!important;
	padding: 8px 9px 9px!important;
}
.contact_map
{
	margin-bottom: 30px;
	margin-top: 10px;
}
.adress_info
{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.20);
	margin-bottom: 20px;
	margin-top: 10px;
	moz-border-radius: 5px;
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.20);
	padding: 10px;
	webkit-border-radius: 5px;
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.20);
}
.adress_info h4
{
	border-bottom: 1px dotted #ccc;
	margin: 0;
	margin-bottom: 8px;
	margin-top: -5px;
	padding-bottom: 5px;
	text-align: center;
}
.error_message
{
	background: #fbe3e4 url('../images/error.gif') no-repeat 10px center;
	border: 1px solid #fbc2c4;
	border-radius: 5px;
	color: #8a1f11;
	display: block;
	height: 22px;
	line-height: 22px;
	margin-right: 10px;
	moz-border-radius: 5px;
	padding: 3px 10px 3px 35px;
	webkit-border-radius: 5px;
}
.loader
{
	margin: 12px 0 0 10px;
}
.img220x150
{
	height: 150px;
	width: 220px;
}
.img300x180
{
	height: 180px;
	width: 300px;
}
.img300x300
{
	height: 300px;
	width: 300px;
}
.img460x200
{
	height: 200px;
	width: 460px;
}
.img540x230
{
	height: 230px;
	width: 540px;
}
.img620x200
{
	height: 200px;
	width: 620px;
}
.img700x300
{
	height: 300px;
	width: 700px;
}
.img780x350
{
	height: 350px;
	width: 780px;
}
.img860x400
{
	height: 400px;
	width: 860px;
}
.img940x450
{
	height: 450px;
	width: 940px;
}
.img212x142
{
	height: 142px;
	width: 212px;
}
.img292x172
{
	height: 172px;
	width: 292px;
}
.img292x292
{
	height: 292px;
	width: 292px;
}
.img452x192
{
	height: 192px;
	width: 452px;
}
.img532x222
{
	height: 222px;
	width: 532px;
}
.img612x192
{
	height: 192px;
	width: 612px;
}
.img692x292
{
	height: 292px;
	width: 692px;
}
.img772x342
{
	height: 342px;
	width: 772px;
}
.img852x392
{
	height: 392px;
	width: 852px;
}
.img932x442
{
	height: 442px;
	width: 932px;
}
.img212
{
	width: 212px;
}
.img292
{
	width: 292px;
}
.img292
{
	width: 292px;
}
.img452
{
	width: 452px;
}
.img532
{
	width: 532px;
}
.img612
{
	width: 612px;
}
.img692
{
	width: 692px;
}
.img772
{
	width: 772px;
}
.img852
{
	width: 852px;
}
.img932
{
	width: 932px;
}
.img212x142,.img292x172,.img292x292,.img452x192,.img532x222,.img612x192,.img692x292,.img772x342,.img852x392,.img932x442,.img212,.img292,.img292,.img452,.img532,.img612,.img692,.img772,.img852,.img932,.border
{
	border: 3px solid white;
	box-shadow: 0 0 3px rgba(0,0,0,0.40);
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.40);
}
.img_pf_hover
{
	position: relative;
}
.img_row
{
	margin: 20px 0;
}
.img_pf_icon
{
	display: block;
	display: none;
	height: 64px;
	margin-top: -32px;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	width: 64px;
	z-index: 12;
}
.img_pf_icon.zoom_in,.img_pf_icon.play_video,.img_pf_icon.goto_link,.img_pf_icon.more_info
{
	left: 50%;
	margin-left: -32px;
}
.img_pf_icon.zoom_in
{
	background: url(../images/zoom.png) no-repeat;
}
.img_pf_icon.play_video
{
	background: url(../images/play.png) no-repeat;
}
.img_pf_icon.goto_link
{
	background: url(../images/link.png) no-repeat;
}
.img_pf_icon.more_info
{
	background: url(../images/info.png) no-repeat;
}
.img_pf_hover:hover .zoom_in,.img_pf_hover:hover .play_video,.img_pf_hover:hover .goto_link,.img_pf_hover:hover .more_info
{
	display: block;
}
.img_pf_icon2
{
	bottom: 4px;
	display: block;
	display: none;
	height: 24px;
	left: 4px;
	position: absolute;
	width: 24px;
	z-index: 12;
}
.img_pf_icon2.document
{
	background: url(../images/img_hover/6.png) no-repeat center center #333;
}
.img_pf_icon2.video
{
	background: url(../images/img_hover/4.png) no-repeat center center #333;
}
.img_pf_icon2.link
{
	background: url(../images/img_hover/2.png) no-repeat center center #333;
}
.img_pf_icon2.zoom
{
	background: url(../images/img_hover/7.png) no-repeat center center #333;
}
.img_pf_icon2.image
{
	background: url(../images/img_hover/3.png) no-repeat center center #333;
}
.img_pf_icon2.archive
{
	background: url(../images/img_hover/8.png) no-repeat center center #333;
}
.img_pf_icon2.featured
{
	background: url(../images/img_hover/5.png) no-repeat center center #333;
}
.img_pf_icon2.extern
{
	background: url(../images/img_hover/1.png) no-repeat center center #333;
}
.img_pf_hover:hover .img_pf_icon2.document,.img_pf_hover:hover .img_pf_icon2.video,.img_pf_hover:hover .img_pf_icon2.link,.img_pf_hover:hover .img_pf_icon2.zoom,.img_pf_hover:hover .img_pf_icon2.image,.img_pf_hover:hover .img_pf_icon2.archive,.img_pf_hover:hover .img_pf_icon2.featured,.img_pf_hover:hover .img_pf_icon2.extern
{
	display: block;
}
.img_pf_text
{
	background: #333;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	color: #fff;
	display: block;
	display: none;
	height: 30px;
	left: 50%;
	line-height: 30px;
	margin-left: -50px;
	margin-top: -15px;
	moz-border-radius: 5px;
	moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	position: absolute;
	text-align: center;
	top: 50%;
	webkit-border-radius: 5px;
	webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
	width: 100px;
	z-index: 12;
}
.img_pf_hover a
{
	text-decoration: none!important;
}
.img_pf_text.style1
{
	background-color: #008b8b;
	color: #fff;
}
.img_pf_text.style2
{
	background-color: #333;
	color: #f5f5f5;
}
.img_pf_text.style3
{
	background-color: #6495ed;
	color: #fff;
}
.img_pf_text.style4
{
	background-color: #cd5c5c;
	color: #f5f5f5;
}
.img_pf_text.style5
{
	background-color: #2e8b57;
	color: #fff;
}
.img_pf_text.style6
{
	background-color: #3d5578;
	color: #fff;
}
.img_pf_text.style7
{
	background-color: #a52a2a;
	color: #fff;
}
.img_pf_text.style8
{
	background-color: #a0522d;
	color: #fff;
}
.img_pf_text.style1:hover,.img_pf_text.style2:hover,.img_pf_text.style3:hover,.img_pf_text.style4:hover,.img_pf_text.style5:hover,.img_pf_text.style6:hover,.img_pf_text.style7:hover,.img_pf_text.style8:hover
{
	border: 1px solid #ddd;
}
.img_pf_hover:hover .img_pf_text.style1,.img_pf_hover:hover .img_pf_text.style2,.img_pf_hover:hover .img_pf_text.style3,.img_pf_hover:hover .img_pf_text.style4,.img_pf_hover:hover .img_pf_text.style5,.img_pf_hover:hover .img_pf_text.style6,.img_pf_hover:hover .img_pf_text.style7,.img_pf_hover:hover .img_pf_text.style8
{
	display: block;
}
.box_skitter_slider
{
	background: #000;
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	height: 392px;
	margin: 0 0 30px;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	position: relative;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
	width: 932px;
}
.box_skitter_slider2
{
	background: #000;
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	height: 342px;
	margin: 5px 0 70px;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	position: relative;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
	width: 612px;
}
.box_skitter_slider2 .info_slide
{
	background: #fff;
	color: #000;
}
.box_skitter .caption
{
	background: url(../images/caption.png) 0 0!important;
	border: 1px solid #fff;
	border-radius: 6px;
	color: #555;
	float: right;
	margin: 0 15px;
	moz-border-radius: 6px;
	padding: 0 10px;
	text-align: center;
	text-shadow: none;
	webkit-border-radius: 6px;
}
.roundabout-holder
{
	height: 230px;
	list-style: none;
	margin-bottom: 20px;
	margin-left: 75px;
	margin-top: 50px;
	width: 790px;
}
.roundabout-moveable-item
{
	cursor: pointer;
	height: 22em;
	width: 25em;
}
.roundabout-moveable-item img
{
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
	width: 100%;
}
.roundabout-in-focus
{
	cursor: auto;
}
.slider_cycle_decor
{
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	margin-bottom: 20px;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
	width: 932px;
}
.cycle_nav
{
	height: 42px;
	left: 0;
	margin-top: -21px;
	position: absolute;
	top: 200px;
	width: 100%;
	z-index: 8;
}
.cycle_nav #c_prev
{
	background: url(../images/prev.png) no-repeat 0 0;
	float: left;
	height: 42px;
	margin-left: 10px;
	width: 42px;
}
.cycle_nav #c_next
{
	background: url(../images/next.png) no-repeat 0 0;
	float: right;
	height: 42px;
	margin-right: 10px;
	width: 42px;
}
.cycle_nav #c_next,.cycle_nav #c_prev
{
	filter: alpha(opacity = 70);
	opacity: .7;
}
.cycle_nav #c_next:hover,.cycle_nav #c_prev:hover
{
	filter: alpha(opacity = 90);
	filter: none;
	opacity: .9;
	opacity: none;
}
.nivo-caption
{
	color: #fff!important;
	font-family: Helvetica,Arial,sans-serif;
}
#zaccordion
{
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	margin: 0 10px 20px 0;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	padding: 0;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
}
#zaccordion li
{
	position: relative;
	text-shadow: none;
}
#zaccordion div.slider-bg
{
	background: #000;
	height: 122px;
	left: 0;
	opacity: .5;
	position: absolute;
	top: 300px;
	width: 600px;
	z-index: 10;
}
#zaccordion div.slider-info
{
	height: 120px;
	left: 0;
	padding: 15px;
	position: absolute;
	top: 290px;
	width: 65px;
	z-index: 15;
}
#zaccordion div.slider-info strong
{
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
}
#zaccordion div.slider-info p
{
	color: #fff;
	display: none;
	font-size: 11px;
	line-height: 20px;
	margin: 0!important;
	margin-top: 5px!important;
}
#zaccordion li.slider-open div.slider-info
{
	width: 560px;
}
#zaccordion li.slider-open div.slider-info strong
{
	font-size: 14px;
}
#zaccordion li.slider-open div.slider-info p
{
	display: block;
}
.placeslider
{
	margin-bottom: 30px;
	margin-top: 20px;
	position: relative;
}
.large_video
{
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	margin-bottom: 30px;
	margin-top: 20px;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	position: relative;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
}
.small_video
{
	border: 4px solid #fff;
	box-shadow: 0 1px 5px 0 #4a4a4a;
	margin-bottom: 20px;
	margin-top: 20px;
	moz-box-shadow: 0 1px 5px 0 #4a4a4a;
	position: relative;
	webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
}
.video_home
{
	margin-bottom: 30px;
}
.home_static_image
{
	margin-bottom: 40px;
	margin-top: 20px;
}
.home_info
{
	margin-bottom: 10px;
}
.home_info p
{
	margin-top: 20px;
}
.testimonials_home
{
	background: 0;
	font-size: 14px;
	padding-left: 0;
}
.testimonials_home p
{
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 1.6;
}
.testimonials_home p img
{
	float: left;
	height: 80px;
	margin: 2px 10px 5px 0;
	width: 80px;
}
.testimonials_home cite
{
	float: right;
}
.testimonials_home cite span
{
	font-weight: 700;
}
.latest_updates
{
	margin-bottom: 40px;
}
.latest_updates img
{
	margin-top: 0;
}
.latest_updates .img_pf_hover
{
	margin-top: 10px;
}
.latest_updates h2
{
	margin-top: 10px;
}
.latest_updates .grid_3
{
	margin-top: 10px;
	position: relative;
}
.rsn
{
	margin-bottom: 25px!important;
	margin-top: 20px!important;
}
.reason
{
	background: #eee;
	background: linear-gradient(top,#eeeeee 0,#cccccc 100%);
	background: -moz-linear-gradient(top,#eeeeee 0,#cccccc 100%);
	background: -ms-linear-gradient(top,#eeeeee 0,#cccccc 100%);
	background: -o-linear-gradient(top,#eeeeee 0,#cccccc 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,#eeeeee 0,#cccccc 100%);
	border: 1px solid #aaa;
	border-radius: 3px;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#cccccc',GradientType=0);
	float: left;
	height: 24px;
	margin-right: 10px;
	moz-border-radius: 3px;
	padding: 10px;
	webkit-border-radius: 3px;
	width: 24px;
}
.reason .a1
{
	background: url(../images/icons24/globe-green.png) no-repeat center center;
	display: block;
	height: 24px;
	width: 24px;
}
.reason .a2
{
	background: url(../images/icons24/point.png) no-repeat center center;
	display: block;
	height: 24px;
	width: 24px;
}
.reason .a3
{
	background: url(../images/icons24/wooden-box-label.png) no-repeat center center;
	display: block;
	height: 24px;
	width: 24px;
}
.reason .a4
{
	background: url(../images/icons24/color-swatch.png) no-repeat center center;
	display: block;
	height: 24px;
	width: 24px;
}
.reason_text
{
	font-size: 11px;
	margin-top: 5px;
}
.home_portfolio
{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 10px 0 30px;
	margin-left: -20px!important;
	overflow: auto;
	width: 1000px;
}
.home_portfolio .in
{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	border-width: 0;
}
.home_portfolio .in .inner
{
	background: #eaeaea;
	border-bottom: 10px solid #eaeaea;
	border-top: 10px solid #eaeaea;
	border-width: 0;
}
.home_portfolio .in .inner .content
{
	border-width: 0;
}
.home_portfolio .in .inner .content .items
{
	margin: 0 20px;
	padding: 5px 0;
}
.page_title
{
	background: #e5e5e5;
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
	margin: 15px 10px 30px;
	moz-border-radius: 4px;
	moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
	overflow: hidden;
	padding: 10px;
	webkit-border-radius: 4px;
	webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
}
.page_title .title
{
	color: #555;
	display: block;
	float: left;
	font-size: 22px;
	font-weight: 700;
	margin: 0;
	padding: 0 10px 0 0;
	text-shadow: 1px 1px 1px #fff;
}
.page_title .slogan
{
	border-left: 1px solid #aaa;
	color: #666;
	display: block;
	float: left;
	font-family: "Georgia",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	margin: 0 10px 0 0;
	padding: 6px 0 6px 10px;
	text-shadow: 1px 1px 1px #fff;
}
.single_page
{
	margin-bottom: 30px;
	margin-top: 30px;
}
h2.services_title_top
{
	margin-top: 0;
}
.service_block
{
	margin-bottom: 10px;
}
.top_service
{
	margin-bottom: 30px;
	margin-top: 5px;
}
.service_one
{
	margin-top: 20px;
	padding-bottom: 20px;
}
.service_one h3
{
	margin-top: 10px;
}
.team_member
{
	margin-bottom: 10px;
	margin-top: 20px;
}
.team_member img
{
	border: 2px solid #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.40);
	height: 80px;
	margin-top: 5px;
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	width: 80px;
}
.team_founder
{
	margin-bottom: 20px;
	margin-top: 10px;
}
.member_name
{
	color: #444;
	font-size: 14px;
	font-weight: 700;
}
.member_ocupation
{
	color: #777;
	font-weight: 400;
}
.job
{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 30px;
	margin-top: 5px;
	moz-border-radius: 4px;
	padding: 0;
	position: relative;
	webkit-border-radius: 4px;
}
.job h2
{
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.job img
{
	margin-top: 30px;
}
.job .details
{
	display: inline-block;
	float: left;
	margin: 10px;
	width: 365px;
}
.job .apply
{
	display: block;
	margin: 0 auto!important;
	margin-top: 20px!important;
	width: 100px;
}
.job ul.job_require
{
	margin: 0!important;
	padding: 0!important;
}
.job ul.job_require li
{
	background: url(../images/fugue/clipboard--arrow.png) no-repeat left center;
	border-bottom: 1px dotted #ccc;
	list-style: none!important;
	margin: 0!important;
	overflow: auto;
	padding: 6px!important;
	padding-left: 22px!important;
}
.job ul.job_require li:first-of-type
{
	border-top: 1px dotted #ccc;
}
.job ul.job_require li:hover
{
	background: url(../images/fugue/clipboard--arrow.png) no-repeat left center #f5f5f5;
}
.question h4
{
	background: url(../images/faq.png) no-repeat 11px 10px!important;
	cursor: pointer;
}
.question h4.tgg_close
{
	background: url(../images/faq.png) no-repeat 11px -114px!important;
	color: #000;
}
.question .toggle_content .inner
{
	background: #fff;
	border: 1px dashed #ccc;
	border-radius: 8px;
	font-size: 12px;
	moz-border-radius: 8px;
	padding: 10px 20px 5px;
	webkit-border-radius: 8px;
}
.img404
{
	background: url(../images/404.png) no-repeat center center;
	display: block;
	height: 340px;
	width: 600px;
}
.text404
{
	color: #777;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}
ul.filter
{
	border-radius: 25px;
	display: block;
	float: right;
	margin: 0;
	moz-border-radius: 25px;
	padding: 0;
	webkit-border-radius: 25px;
}
.filter li
{
	display: inline;
	list-style: none;
	margin: 0 2px;
	padding: 0;
	text-align: center;
}
.filter li a
{
	background: #eee;
	background: linear-gradient(top,rgba(238,238,238,1) 0,rgba(204,204,204,1) 100%);
	background: -moz-linear-gradient(top,rgba(238,238,238,1) 0,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,rgba(238,238,238,1) 0,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,rgba(238,238,238,1) 0,rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(238,238,238,1)),color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top,rgba(238,238,238,1) 0,rgba(204,204,204,1) 100%);
	border: 1px solid #efefef;
	border: solid 1px #aaa;
	border-radius: 25px;
	box-shadow: inset 0 1px 0 0 white;
	color: #444;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#cccccc',GradientType=0);
	line-height: 36px;
	moz-border-radius: 25px;
	moz-box-shadow: inset 0 1px 0 0 white;
	ms-box-shadow: inset 0 1px 0 0 white;
	o-box-shadow: inset 0 1px 0 0 white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
	webkit-border-radius: 25px;
	webkit-box-shadow: inset 0 1px 0 0 white;
}
.filter li a:hover,.filter li a.active_cat
{
	background: #e9e9e9;
	color: #ffffff!important;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
}
.portfolio_content
{
	width: 960px;
}
.portfolio_content .item
{
	margin-bottom: 30px;
	margin-top: 10px;
}
.portfolio_content .pf_inner
{
	background: #e7e7e7;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.40);
	moz-border-radius: 5px;
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	webkit-border-radius: 5px;
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.40);
}
.portfolio_content .item h3
{
	font-size: 19px;
	margin: 6px 0;
	text-align: center;
}
.portfolio_content .item hr
{
	margin-bottom: 4px;
}
.portfolio_content .item p
{
	text-align: center;
}
.portfolio_content .grid_3 img
{
	border: 1px solid #fff;
	height: 140px;
	margin: 3px;
	width: 210px;
}
.portfolio_content .grid_4 img
{
	border: 1px solid #fff;
	height: 170px;
	margin: 3px;
	width: 290px;
}
.portfolio_content .grid_6 img
{
	border: 1px solid #fff;
	height: 190px;
	margin: 3px;
	width: 450px;
}
.portfolio_content.gallery .grid_3 img
{
	border: 1px solid #fff;
	height: 140px;
	margin: 3px;
	width: 210px;
}
.portfolio_content.gallery .grid_4 img
{
	border: 1px solid #fff;
	height: 170px;
	margin: 3px;
	width: 290px;
}
.portfolio_content.gallery .item
{
	margin-bottom: 20px;
	margin-top: 10px;
}
.portfolio_content.gallery2
{
	margin: 35px 10px 20px;
}
.portfolio_content.gallery2 img
{
	border: 0;
	height: 200px;
	margin: 0;
	padding: 0;
	width: 313px;
}
.portfolio_content.gallery2 .item
{
	display: inline;
	float: left;
	height: 200px;
	margin: 0!important;
	width: 313px;
}
.portfolio_content.gallery2 .img_pf_hover
{
	margin: 0!important;
	padding: 0;
}
.portfolio_content.gallery2 .img_pf_hover .img_pf_icon2
{
	border: 1px solid #ccc;
	border-radius: 4px;
	moz-border-radius: 4px;
	padding: 2px;
	webkit-border-radius: 4px;
}
.portfolio_content.gallery2 .img_pf_hover .img_pf_text
{
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 4px!important;
	top: 178px!important;
	width: auto;
}
.portfolio_meta
{
	border-radius: 0 0 6px 6px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	moz-border-radius: 0 0 6px 6px;
	padding: 0 6px 3px;
	webkit-border-radius: 0 0 6px 6px;
}
.portfolio_meta .date
{
	background: url(../images/calendar_pf.png) no-repeat left 11px;
	float: left;
	margin: 0;
	padding-left: 22px;
	text-shadow: 0 -1px 1px #fff;
}
.portfolio_meta .more
{
	background: url(../images/more_pf.png) no-repeat 6px 6px #e8e8e8;
	border: 1px solid #aaa;
	border-radius: 6px;
	float: right;
	line-height: 24px;
	margin: 0;
	margin-top: 5px;
	moz-border-radius: 6px;
	padding-bottom: 2px;
	padding-left: 28px;
	padding-right: 6px;
	padding-top: 2px;
	webkit-border-radius: 6px;
}
.portfolio_meta a.more
{
	background: url(../images/more_pf.png) no-repeat 6px 6px #e8e8e8;
	color: #555;
	text-decoration: none;
}
.portfolio_meta a.more:hover
{
	background-color: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
	color: #222;
	moz-box-shadow: 0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
	text-decoration: none;
	webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
}
.portfolio_pagination
{
	margin-bottom: 30px!important;
	margin-top: 30px!important;
}
.visit_site
{
	display: block;
	margin: 0 auto!important;
	text-align: center;
	width: 100px;
}
#blog
{
	display: block;
	float: left;
}
#blog .img_pf_hover
{
	margin-top: 10px;
}
#blog article.style1
{
	margin-bottom: 30px;
	margin-top: 0;
}
#blog article.style1 a
{
	outline: none!important;
}
#blog article.style1 h2
{
	margin-bottom: 0;
	margin-right: 65px;
	margin-top: 0;
}
#blog article.style1 img
{
	margin-top: 0;
}
#blog article.style1 p
{
	margin-bottom: 20px;
	margin-top: 0;
}
#blog article.style1 .meta_data
{
	color: #555;
	font-size: 11px;
	margin: 5px 0 13px 0;
	padding: 0;
}
#blog article.style2
{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	margin-top: 0;
	padding-bottom: 10px;
}
#blog article.style2 a
{
	outline: none!important;
}
#blog article.style2 h2
{
	margin-bottom: 0;
	margin-right: 65px;
	margin-top: 0;
}
#blog article.style2 img
{
	margin-top: 0;
}
#blog article.style2 .meta_data
{
	color: #555;
	font-size: 11px;
	margin: 5px 0 13px 0;
	padding: 0;
}
#blog article.style2 .meta .author,#blog article.style2 .meta .date,#blog article.style2 .meta .comments,#blog article.style2 .meta .category,#blog article.style2 .meta .tags
{
	font-size: 11px;
	font-style: italic;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 24px;
}
#blog article.style2 .meta .author a,#blog article.style2 .meta .date a,#blog article.style2 .meta .comments a,#blog article.style2 .meta .category a,#blog article.style2 .meta .tags a
{
	color: #555;
}
#blog article.style2 .meta .author a:hover,#blog article.style2 .meta .date a:hover,#blog article.style2 .meta .comments a:hover,#blog article.style2 .meta .category a:hover,#blog article.style2 .meta .tags a:hover
{
	color: #111;
}
#blog article.style2 .meta .date
{
	background: url(../images/icons/calendar.png) no-repeat 0 0;
	border-bottom: 1px dotted #bcbcbc;
	margin-top: 20px;
}
#blog article.style2 .meta .comments
{
	background: url(../images/icons/comment.png) no-repeat 0 0;
	border-bottom: 1px dotted #bcbcbc;
	margin-top: 10px;
}
#blog article.style2 .meta .author
{
	background: url(../images/icons/user.png) no-repeat 0 0;
	border-bottom: 1px dotted #bcbcbc;
	margin-top: 10px;
}
#blog article.style2 .meta .category
{
	background: url(../images/icons/category.png) no-repeat 0 0;
	border-bottom: 1px dotted #bcbcbc;
}
#blog article.style2 .meta .tags a
{
	display: inline-block;
	line-height: 22px;
}
#blog article.style2 .meta .tags
{
	background: url(../images/icons/tag.png) no-repeat 0 0;
}
#blog article.style2 h2
{
	margin-top: 20px;
}
#blog article.style2 img
{
	height: 192px;
	margin-top: 10px;
	width: 452px;
}
#blog article.style2 .imgblog2
{
	border: 4px solid #fff;
	height: 242px;
	width: 532px;
}
#blog article.style2 .imgblog
{
	border: 4px solid #fff;
	height: 260px;
	width: 522px;
}
#blog article.style3
{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 30px;
	margin-top: 5px;
	moz-border-radius: 4px;
	padding: 10px;
	position: relative;
	webkit-border-radius: 4px;
}
#blog article.style3 a
{
	outline: none!important;
}
#blog article.style3 img
{
	height: 260px;
	margin-top: 0;
	width: 590px;
}
#blog article.style3 h2
{
	margin: 0;
}
#blog article.style3 p,#blog article.style3 h2,#blog article.style3 .meta
{
	margin-left: 4px;
}
#blog article.style3 .img_pf_hover
{
	margin-bottom: 20px;
	margin-top: 0;
}
#blog article.style3 .meta
{
	border-top: 1px dotted #ccc;
	padding-top: 10px;
}
#blog article.style3 .meta .author,#blog article.style3 .meta .date,#blog article.style3 .meta .comments,#blog article.style3 .meta .category,#blog article.style3 .meta .tags
{
	font-size: 11px;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 1px;
}
#blog article.style3 .meta .date
{
	background: url(../images/icons/calendar.png) no-repeat 0 0;
}
#blog article.style3 .meta .comments
{
	background: url(../images/icons/comment.png) no-repeat 0 0;
}
#blog article.style3 .meta .author
{
	background: url(../images/icons/user.png) no-repeat 0 0;
}
#blog article.style3 .meta .category
{
	background: url(../images/icons/cat.png) no-repeat 0 0;
}
#blog article.style3 .meta .tags
{
	background: url(../images/fugue/price-tag.png) no-repeat 0 2px;
}
#blog article.style4
{
	/*margin-bottom: 20px;*/
	/*margin-top: 5px;*/
	margin-bottom: 0px;
	position: relative;
}

#blog article.style4 .block
{
	/*background: #fff;*/
	/*border: 1px solid #ccc;*/
	/*border-radius: 4px;*/
	/*margin-bottom: 13px;*/
	/*moz-border-radius: 4px;*/
	/*padding: 10px;*/
	/*padding: 10px;*/
	/*webkit-border-radius: 4px;*/

	background: #fff;
	padding: 0 0 0 10px;
    border-bottom: 1px solid #ccc;
}


#blog article.style4 .block .adv-right-info{
    padding: 3px 0;
    margin-right: 8px;
}

#blog article.style4 .block .adv-right-info div{
    line-height: 17px;
    padding: 0;
    margin: 0;
    text-align: right;
}

#blog article.style4 .block .adv-right-info .adv-info-price *{
    color: #555555;
    font-size: 13px;
    font-weight: normal;
}

#blog article.style4 .block .adv-right-info .adv-info-date{}

#blog article.style4 .block .adv-right-info .adv-info-date em{
    color: #A3A3A3;
}

#blog article.style4:first-child .block
{
    border-top: 1px solid #ccc;
}

#blog article.style4:last-child .block
{
    margin-bottom: 20px !important;
}

#blog article.style4 .meta_info
{
	color: #555;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	width: 96px;
}

#blog article.style4 .meta_info.lborder
{
	border-left: 1px solid #ccc;
}

#blog article.style4 .meta_info .number
{
	color: #777;
	font-size: 22px;
}

#blog article.style4 a
{
	outline: none!important;
}

#blog article .block.adv-is-colored
{
    background-color: #FFE4C2;
    border-color: #8F8F8F;
}

#blog article .block.adv-is-colored a
{
    font-weight: bold;
}

#blog article .block.adv-hover
{
    /*background-color: #F2FDE3 !important;*/
    /*background-color: #E3FDFC !important;*/
    background-color: #CEFDE6 !important;
}

#blog article.style4 img
{
	/*height: 142px;
	margin-top: 0;
	width: 192px;*/
}

#blog article.style4 h2
{
	margin: 0;
	line-height: 12px;
}

#blog article.style4 .img_pf_hover
{
	margin-bottom: 0;
	margin-top: 0;
}

#blog article.style4 .meta
{
	border-top: 1px dotted #ccc;
	font-size: 11px;
	line-height: 22px;
	padding-top: 10px;
}

#blog article.style4 .meta .author,#blog article.style4 .meta .category,#blog article.style4 .meta .tags
{
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 1px;
}

#blog article.style4 .meta .date
{
	background: url(../images/icons/calendar.png) no-repeat 0 0;
}

#blog article.style4 .meta .comments
{
	background: url(../images/icons/comment.png) no-repeat 0 0;
}
#blog article.style4 .meta .author
{
	background: url(../images/icons/user.png) no-repeat 0 0;
}
#blog article.style4 .meta .category
{
	background: url(../images/icons/cat.png) no-repeat 0 0;
}
#blog article.style4 .meta .tags
{
	background: url(../images/icons/tag.png) no-repeat 0 0;
}
#blog article.full_entry
{
	background: #fff;
	border: 1px solid #ccc;
	/*border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;*/
	margin-bottom: 30px;
	margin-top: 5px;
	padding: 10px;
	position: relative;
}
#blog article.full_entry a
{
	outline: none!important;
}
#blog article.full_entry .featured_img
{
	height: 260px;
	margin-bottom: 20px;
	margin-top: 0;
	width: 590px;
}
#blog article.full_entry h2
{
	margin: 0;
	margin-bottom: 7px;
	margin-top: -5px;
}
#blog article.full_entry p,#blog article.full_entry h2,#blog article.full_entry .meta
{
	margin-left: 4px;
}
#blog article.full_entry .img_pf_hover
{
	margin-bottom: 20px;
	margin-top: 0;
}

#blog article.full_entry .meta
{
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
	margin-bottom: 14px;
	padding-top: 4px;
}

#blog article.full_entry .meta * {
	color: #49494F;
}

#blog article.full_entry .author,#blog article.full_entry .views,#blog article.full_entry .date,#blog article.full_entry .comments,#blog article.full_entry .category,#blog article.full_entry .tags
{
	font-size: 11px;
	margin-right: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 1px;
}

#blog article.full_entry .meta .author,#blog article.full_entry .meta .views,#blog article.full_entry .meta .date,#blog article.full_entry .meta .comments,#blog article.full_entry .meta .category,#blog article.full_entry .meta .tags
{
	font-size: 11px;
	margin-right: 0px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 1px;
}

#blog article.full_entry .meta span{
    margin-top: 5px;
    margin-right: 10px;
}
#blog article.full_entry .meta .date
{
	background: url(../images/icons/calendar.png) no-repeat 0 0;
}
#blog article.full_entry .meta .comments
{
	background: url(../images/icons/comment.png) no-repeat 0 0;
}
#blog article.full_entry .meta .views
{
	background: url(../images/more_pf.png) no-repeat 0 0;
}
#blog article.full_entry .meta .author,
#blog article.full_entry .author
{
	background: url(../images/icons/user.png) no-repeat 0 0;
}
#blog article.full_entry .meta .category
{
	background: url(../images/icons/cat.png) no-repeat 0 0;
}
#blog article.full_entry .meta .tags
{
	background: url(../images/fugue/price-tag.png) no-repeat 0 2px;
}
.author_info
{
	background: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 10px;
	moz-border-radius: 4px;
	overflow: hidden;
	padding: 10px 0;
	webkit-border-radius: 4px;
}
.author_info img.author_photo
{
	float: left;
	margin: 5px 10px 5px 0;
}
.author_info .author_details
{
	margin: 0 10px;
}
.author_info p
{
	margin: 8px 10px 8px 0!important;
	padding: 0;
}
#comments h3
{
	border-bottom: 1px solid #aaa;
	margin-top: 10px;
	padding: 7px 5px 10px;
	text-align: center;
}
#comments .comment
{
	margin: 20px 0 30px;
	padding: 0;
	position: relative;
}
#comments .comment .avatar img
{
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	height: 50px;
	margin-bottom: 6px;
	padding: 3px;
	width: 50px;
}
#comments .comment .info
{
	border-bottom: 1px dotted #ccc;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	overflow: auto;
	padding: 7px 5px;
}
#comments .comment .content
{
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 0;
	overflow: hidden;
	padding: 0 3px;
	position: relative;
}
#comments .comment .message p
{
	margin: 10px 15px;
}
#comments .reply
{
	margin: 0;
	text-align: center;
	width: 40px;
}
#comments .replied
{
	margin-left: 80px;
}
#comments .comment .status_admin
{
	background: url(../images/admin.png);
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
#comments .comment .status_author
{
	background: url(../images/author.png);
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
#leave_comment
{
	margin-top: 60px;
	position: relative;
}
#leave_comment #comment_form
{
	margin-top: 20px;
}
#leave_comment #comment_form input[type="text"]
{
	background: #fff;
	border: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #444;
	float: left;
	font: .9em/1em Georgia,"Times New Roman",Times,serif;
	height: 26px;
	line-height: 26px;
	margin: 0;
	margin-bottom: 15px;
	moz-border-radius: 5px;
	outline: none!important;
	padding: 4px 10px;
	webkit-border-radius: 5px;
	width: 300px;
}
#leave_comment #comment_form input:focus[type="text"],#leave_comment #comment_form textarea:focus
{
	box-shadow: 0 3px 15px rgba(0,0,0,0.20);
	moz-box-shadow: 0 3px 15px rgba(0,0,0,0.20);
	webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.20);
}
#leave_comment #comment_form input.author
{
	background: url(../images/c_user.png) no-repeat 300px 13px #fff;
}
#leave_comment #comment_form input.email
{
	background: url(../images/c_mail.png) no-repeat 301px 14px #fff;
}
#leave_comment #comment_form input.web
{
	background: url(../images/c_web.png) no-repeat 300px 13px #fff;
}
#leave_comment #comment_form textarea.message
{
	background: url(../images/c_message.png) no-repeat right bottom #fff;
}
#leave_comment #comment_form textarea
{
	background: #fff;
	border: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #444;
	float: left;
	font: .9em/1em Georgia,"Times New Roman",Times,serif;
	height: 200px;
	line-height: 24px;
	margin: 0;
	margin-bottom: 15px;
	moz-border-radius: 5px;
	outline: none!important;
	padding: 4px 10px;
	webkit-border-radius: 5px;
	width: 596px;
}
#leave_comment #comment_form input[type="submit"]
{
	cursor: pointer;
	margin-top: 10px;
}
#leave_comment #comment_form .info_box
{
	color: #777;
	font-size: 11px;
	position: absolute;
	width: 180px;
}
#leave_comment #comment_form .info_author
{
	right: 100px;
	top: 77px;
}
#leave_comment #comment_form .info_email
{
	right: 100px;
	top: 120px;
}
#leave_comment #comment_form .info_website
{
	right: 100px;
	top: 170px;
}
#leave_comment #comment_form label
{
	display: none;
}
#list_pagination
{
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 22px;
	line-height: 21px;
	margin: 3px 0 10px 0;
	margin-left: -5px;
	text-align: center;
}
#list_pagination a,#list_pagination .active_list_link,#list_pagination .disabled_list_pagination
{
	background-color: #f4f4f4;
	border: 1px solid #b4b4b4;
	border-radius: 5px;
	color: #868686;
	font-weight: 400;
	margin-left: 5px;
	moz-border-radius: 5px;
	padding: 3px 7px;
	text-decoration: none;
	webkit-border-radius: 5px;
	width: 22px;
}
#list_pagination a
{
	background: #eee;
	background: -moz-radial-gradient(center,ellipse cover,#eeeeee 0,#bfbfbf 100%);
	background: -ms-radial-gradient(center,ellipse cover,#eeeeee 0,#bfbfbf 100%);
	background: -o-radial-gradient(center,ellipse cover,#eeeeee 0,#bfbfbf 100%);
	background: radial-gradient(center,ellipse cover,#eeeeee 0,#bfbfbf 100%);
	background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#eeeeee),color-stop(100%,#bfbfbf));
	background: -webkit-radial-gradient(center,ellipse cover,#eeeeee 0,#bfbfbf 100%);
	border: 1px solid #666;
	color: #555;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#bfbfbf',GradientType=1);
}
#list_pagination a:hover,#list_pagination .active_list_link
{
	background: #fff;
	background: linear-gradient(top,#ffffff 0,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,#ffffff 0,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,#ffffff 0,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(50%,#f1f1f1),color-stop(51%,#e1e1e1),color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,#ffffff 0,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	color: #333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f6f6f6',GradientType=0);
}
#list_pagination .active_list_link
{
	border: 1px solid #666;
	cursor: default;
}
#list_pagination .disabled_list_pagination
{
	background-color: #f5f5f5;
	color: #777;
	cursor: default;
}
.sidebar_l .widget,.sidebar_r .widget
{
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	margin: 5px 0 30px 10px;
	moz-border-radius: 4px;
	position: relative;
	webkit-border-radius: 4px;
}
.sidebar_l .widget
{
	margin: 5px 10px 30px 0;
}
.sidebar_l .widget h2,.sidebar_r .widget h2
{
	border: 0;
	border-bottom: 1px dotted #ccc;
	color: #333;
	font-size: 18px;
	line-height: 32px;
	margin: 5px 5px 15px 5px;
	padding: 0 8px 8px 8px;
	position: relative;
	text-align: center;
}
.sidebar_l .widget .wgt_in,.sidebar_r .widget .wgt_in
{
	margin: 10px;
}
ul.vertical-menu
{
	float: left;
	font-size: 12px;
	list-style: none;
	margin: 0;
	margin-bottom: 10px;
	margin-top: -5px;
	position: relative;
	width: 100%;
}
.vertical-menu li
{
	background: 0;
	border-bottom: 1px dashed #ddd;
	float: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.vertical-menu li a
{
	background: url(../images/vnav.png) no-repeat left 13px;
	border: 0;
	color: #444;
	display: block;
	font-weight: 700;
	height: 1%;
	line-height: 24px;
	padding: 6px 6px 6px 22px;
	position: relative;
	text-decoration: none;
}
.vertical-menu li:last-of-type
{
	border-bottom: 0;
}
.vertical-menu li a:hover
{
	background: url(../images/vnav.png) no-repeat left -27px;
	border-radius: 5px;
	color: #000!important;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}
.vertical-menu li a span
{
	background: url(../images/fugue/control-000-small.png) 0 0 no-repeat;
	display: none;
	height: 16px;
	left: -10px;
	position: absolute;
	top: 11px;
	width: 16px;
}
.recent_comments .post_comm
{
	margin-bottom: 10px;
}
.recent_comments p
{
	font-size: 11px;
	margin: 7px 0;
}
.recent_comments p a
{
	font-weight: 700;
	text-decoration: none;
}
.recent_comments img
{
	border: 2px solid #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.40);
	float: left;
	height: 44px;
	margin: 0 10px 5px 0;
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	position: relative;
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	width: 44px;
}
.popular_posts .pop_post_content
{
	margin-bottom: 10px;
}
.popular_posts .pop_post_content a.title
{
	color: #111;
}
.popular_posts .posted_cat
{
	font-size: 11px;
	margin: 0;
}
.popular_posts img
{
	border: 2px solid #fff;
	float: left;
	height: 44px;
	margin: 0 10px 5px 0;
	width: 44px;
}
.flickr_photos img
{
	border: 2px solid #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.40);
	float: left;
	height: 55px;
	margin: 4px;
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.40);
	width: 55px;
}
.latest_twetts .post_twett
{
	background: url(../images/icons24/balloon-twitter.png) no-repeat 0 0;
	margin-bottom: 10px;
	padding-left: 30px;
}
.latest_twetts p
{
	font-size: 11px;
	margin: 0;
}
.latest_twetts p a
{
	text-decoration: none;
}
.latest_twetts img
{
	border: 2px solid #fff;
	float: left;
	height: 44px;
	margin: 0 10px 5px 0;
	width: 44px;
}
.price_box
{
	margin-bottom: 40px;
	margin-top: 20px;
}
.price_box .collumn
{
	margin-top: 20px;
	position: relative;
}
.price_box .collumn:hover
{
	box-shadow: 0 0 3px rgba(0,0,0,0.30);
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.30);
	webkit-box-shadow: 0 0 3px rgba(0,0,0,0.30);
}
.price_head,.price_row,.price_footer
{
	border: 1px solid #222;
}
.price_head
{
	background: url(../images/block_head.jpg) center -1px;
	border-bottom: 0!important;
	font-size: 19px;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	position: relative;
	text-transform: uppercase;
}
.price_head .inside
{
	color: #ddd!important;
}
.price_head .special
{
	background: url(../images/special.png) no-repeat 0 0;
	display: block;
	height: 70px;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 72px;
}
.price_row
{
	background: url(../images/price_row.jpg) 0 0;
	border-bottom: 0;
	border-top: 0;
	line-height: 24px;
	padding: 10px 0;
}
.price_row:hover
{
	background: url(../images/price_row.jpg) 0 -80px;
}
.price_row .inside .price
{
	color: #f08080;
	font-size: 18px;
	font-weight: 700;
}
.price_row .inside
{
	color: #ddd;
	font-size: 12px;
	font-weight: 700;
}
.price_footer
{
	background: url(../images/price_row.jpg) 0 -160px;
	border-bottom-width: 2px;
	border-top: 0;
	padding: 15px 0 10px 0;
}
.price_row .inside,.price_head .inside,.price_footer .inside
{
	margin: 0 15px;
	text-align: center;
}
.price_box .collumn .button
{
	border: 1px solid #222!important;
}
.chzn-select option:hover,.chzn-select-deselect option:hover
{
	text-shadow: 1px 1px 2px #333;
}
.columns_demo p
{
	background: #ddd;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -5px 0 rgba(255,255,255,.2);
	color: #444;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -5px 0 rgba(255,255,255,.2);
	text-align: center;
	webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -5px 0 rgba(255,255,255,.2);
}

.old_images_box{
	margin-top: 10px;
}

.old_images_box ._item{
	position: relative;
	float: left;
	margin-right: 5px;
}

.old_images_box ._item ._delete{
	position: absolute;
	background: url(../images/fugue/cross-script.png) top left no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	top: 0;
	right: 0;
}

.old_images_box ._item ._delete:hover{
	cursor: pointer;
}

.old_images_box ._item img{
	float: left;
	padding-right: 16px;
}

.image_inputs_box{}

.image_inputs_box ._item{}

.image_inputs_box ._item ._file{
	float: left;
}

.image_inputs_box ._item ._delete{
	float: left;
	margin-top: 6px;
	margin-left: 4px;
	cursor: pointer;
}

#Advertisements_rel_currency_id_chzn{
    width: 67px;
    position: relative;
    top: 10px;
}

.slogan{}

.slogan .number{
    color: #F86D0D;
    font-family: Trebuchet MS;
    font-size: 1.4em;
    font-weight: bolder;
    line-height: 10px;
    position: relative;
    text-shadow: 1px 1px 1px #2E2E2E;
    top: 2px;
}

/* USER MIAN MENU START */
.user-main-menu-block{
    float: right;
    bottom: 22px;
    position: relative;
}

.user-main-menu-block a{
    color: #2B3027;
}

#user-main-menu{
    float: right;
    margin-right: 4px;
}

#user-main-menu ul{
    margin: 0;
    padding: 0;
}

#user-main-menu ul li{
    list-style-type: none;
    display: inline;
    margin: 0 2px;
    padding: 0;
}

#user-main-menu a{}


.login-block{
    float: right;
}

.login-block a.login,
.login-block a.logout{
    font-weight: bold;
    font-size: 1em;
}

.login-block a.login img,
.login-block a.logout img{
    margin-left: 3px;
    width: 16px;
}

/* USER MIAN MENU END */



/* LIST ADVS START */
.adv-owner-actions{
    position: relative;
    top: 5px;
}

.adv-status-new{
    background-color: #DFFFDB !important;
}

.adv-status-ok{
    background-color: #FFFFFF !important;
}

.adv-status-modified{
    background-color: #B3F5FF !important;
}

.adv-status-blocked{
    /*background-color: #D6D6D6 !important;*/
    background-color: #FFD9D6 !important;
}

.adv-status-deleted{
    background-color: #B8B8B8 !important;
}

/* LIST ADVS END */