html,body,div,p
{
    border: 0;
    margin: 0;
    padding: 0;
}
*
{
    color: #333;
    font-size: 1em;
}
body
{
    color: #333;
    font: 13px/1.6 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}
a,a:hover
{
    color: #cd5c5c;
}
a:hover
{
    text-decoration: underline;
}
a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
    text-decoration: none;
}
hr
{
    background: #ccc;
    border: 0 solid #eee;
    border-bottom-width: 1px;
    clear: both;
    height: 1px;
}
.text-red
{
    color: #FF0000!important;
}
.text-white
{
    color: #FFF!important;
}
.text-black
{
    color: #000!important;
}
.text-green
{
    color: #008000!important;
}
.text-blue
{
    color: #0000FF!important;
}
.text-yellow
{
    color: #FFFF00!important;
}
.text-orange
{
    color: #FFA500!important;
}
.text-purple
{
    color: #800080!important;
}
.text-cadetblue
{
    color: #5F9EA0!important;
}
.text-coral
{
    color: #FF7F50!important;
}
.text-lightblue
{
    color: #6495ED!important;
}
.text-darkcyan
{
    color: #008B8B!important;
}
.text-indianred
{
    color: #CD5C5C!important;
}
.text-olive
{
    color: #808000!important;
}
.text-slategray
{
    color: #708090!important;
}
.text-tomato
{
    color: #FD6347!important;
}
.text-chocolate
{
    color: #D2691E!important;
}
.text-darkseagreen
{
    color: #8FBC8F!important;
}
.subtip
{
    color: #777;
    font-size: 10px;
    margin: 0!important;
    text-align: left;
}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure
{
    margin-bottom: 20px;
}
h1,h2,h3,h4,h5,h6
{
    color: #444;
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
    margin-top: 20px;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
{
    color: #444;
    text-decoration: none;
}
h1 a:hover
{
    text-decoration: none;
}
h1
{
    font-size: 25px;
}
h2
{
    font-size: 21px;
}
h3
{
    font-size: 19px;
}
h4
{
    font-size: 17px;
}
h5
{
    font-size: 15px;
}
h6
{
    font-size: 13px;
}
p
{
    line-height: 1.6em;
    margin-bottom: 20px;
    margin-top: 7px;
}
ol
{
    margin-left: 35px;
}
ul
{
    margin-left: 30px;
}
strong
{
    font-weight: 700;
}
em
{
    font-style: italic;
}
.alignleft
{
    float: left;
    margin-right: 10px;
}
.alignright
{
    float: right;
    margin-left: 10px;
}
.aligncenter
{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.relative
{
    position: relative;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.center
{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
img.center
{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img_border
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px;
}
.textleft
{
    text-align: left;
}
.textright
{
    text-align: right;
}
.textcenter
{
    text-align: center;
}
code,pre
{
    background: url('../images/pre_code_bg.png') repeat scroll 0 0 transparent;
    border: 0;
    border-left: 5px solid #ccc;
    border-right: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    color: #2f4f4f;
    display: block;
    font-family: Lucida Console,"Times New Roman",Times,serif;
    font-size: 11px;
    line-height: 22px;
    margin: 15px 0;
    overflow: hidden;
    padding: 0 15px;
}
blockquote
{
    background: transparent url(../images/quote.png) no-repeat scroll top left;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5em;
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 48px;
}
blockquote.style2
{
    background: transparent;
    border-left: 7px solid #999;
    padding-left: 18px;
}
blockquote.style3
{
    background: #fff;
    border: 1px solid #999;
    border-radius: 0 0 8px 8px;
    margin-top: 36px!important;
    moz-border-radius: 0 0 8px 8px;
    padding: 7px 10px 0;
    webkit-border-radius: 0 0 8px 8px;
}
blockquote.style3 .title
{
    background: #f4a460 url(../images/pattern/13.png);
    border: 1px solid #999;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px;
    margin-left: -11px;
    margin-right: -11px;
    margin-top: -37px;
    moz-border-radius: 8px 8px 0 0;
    padding: 5px 20px;
    text-align: right;
    webkit-border-radius: 8px 8px 0 0;
    width: auto;
}
blockquote.style4
{
    background: #fff;
    border: 1px solid #999;
    border-radius: 8px;
    moz-border-radius: 8px;
    padding: 7px 10px 0;
    webkit-border-radius: 8px;
}
blockquote.style5
{
    background: #fff;
    border-bottom: 1px solid #999;
    border-left: 7px solid #999;
    border-right: 7px solid #999;
    border-top: 1px solid #999;
    padding: 8px 20px 10px;
    padding-left: 0;
}
blockquote.style5 p
{
    margin: 0;
}
.alert,.fixed_alert
{
    background: #eee;
    background-attachment: scroll;
    background-position: 20px 8px;
    background-repeat: no-repeat;
    border-radius: 4px;
    cursor: pointer;
    font-family: Helvetica,Arial,"Times New Roman",Times,serif;
    font-size: 12px;
    font-style: normal;
    margin: 12px 0 20px;
    moz-border-radius: 4px;
    padding: 10px;
    padding-left: 55px;
    webkit-border-radius: 4px;
    width: auto;
}
.fixed_alert
{
    cursor: default;
}
.alert code,.fixed_alert code
{
    background: 0;
    border: 0;
    margin: 0;
    margin-left: -10px;
}
.info_msg
{
    background-color: #e3f7fc;
    background-image: url(../images/icons24/information.png);
    border: 1px solid #8ed9f6;
    color: #2e6093;
}
.note_msg
{
    background-color: #fffbc8;
    background-image: url(../images/icons24/thumb-up.png);
    border: 1px solid #f5d145;
    color: #8f680e;
}
.error_msg
{
    background-color: #ffc8d1;
    background-image: url(../images/icons24/cross-circle.png);
    border: 1px solid #d96e66;
    color: #cd0a0a;
}
.tip_msg
{
    background-color: #e6ffe9;
    background-image: url(../images/icons24/light-bulb-off.png);
    border: 1px solid #bcdb58;
    color: #38762c;
}
.succes_msg
{
    background-color: #ddffcd;
    background-image: url(../images/icons24/tick.png);
    border: 1px solid #b7db58;
    color: #38762c;
}
.saved_msg
{
    background-color: #b5d8fa;
    background-image: url(../images/icons24/disk-black.png);
    border: 1px solid #6495ed;
    color: #36414b;
}
.exclamation_msg
{
    background-color: #ffce91;
    background-image: url(../images/icons24/exclamation.png);
    border: 1px solid #ff8c00;
    color: #ff4500;
}
.battery_msg
{
    background-color: #708090;
    background-image: url(../images/icons24/battery.png);
    border: 1px solid #2b3238;
    color: #FFF;
}
.drop-cap,.drop-cap1,.drop-cap2,.drop-cap3,.drop-cap4,.drop-cap5
{
    border: 2px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 14px rgba(0,0,0,0.2) inset;
    color: #fff;
    display: block;
    float: left;
    font-size: 34px;
    line-height: 30px;
    margin: 5px 8px 0 2px;
    moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 14px rgba(0,0,0,0.2) inset;
    padding: 9px 10px;
    text-align: center;
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 14px rgba(0,0,0,0.2) inset;
}
.drop-cap
{
    background: #789;
}
.drop-cap1
{
    background: #789;
    border-radius: 50%;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
}
.drop-cap2
{
    background: #789;
    border-radius: 50% 0 50% 0;
    moz-border-radius: 50% 0 50% 0;
    webkit-border-radius: 50% 0 50% 0;
}
.drop-cap3
{
    background: #fff;
    color: #333!important;
}
.drop-cap4
{
    background: #fff;
    border-radius: 50%;
    color: #333!important;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
}
.drop-cap5
{
    background: #fff;
    border-radius: 50% 0 50% 0;
    color: #333!important;
    moz-border-radius: 50% 0 50% 0;
    webkit-border-radius: 50% 0 50% 0;
}
mark
{
    border: 1px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    padding: 3px 12px;
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
a:hover mark
{
    background: #708090;
    color: #fff;
}
mark.style1
{
    background-color: #fafafa;
    color: #333;
}
mark.style2
{
    background-color: #FF6;
    color: #000;
}
mark.style3
{
    background-color: #333;
    color: #f5f5f5;
}
mark.style4
{
    background-color: #cd5c5c;
    color: #f5f5f5;
}
mark.style5
{
    background-color: #6495ed;
    color: #fff;
}
mark.style6
{
    background-color: #008b8b;
    color: #fff;
}
mark.style7
{
    background-color: #ff8c00;
    color: #fff;
}
mark.style8
{
    background-color: #2e8b57;
    color: #fff;
}
mark.style9
{
    background-color: #3d5578;
    color: #fff;
}
mark.style10
{
    background-color: #a52a2a;
    color: #fff;
}
mark.style11
{
    background-color: #4169e1;
    color: #fff;
}
mark.style12
{
    background-color: #a0522d;
    color: #fff;
}
ul.list1,ul.list2,ul.list3,ul.list4,ul.list5,ul.list6,ul.list7,ul.list8,ul.list9,ul.list10,ul.list11,ul.list12,ul.list13,ul.list14,ul.list15,ul.list16
{
    margin: 0;
}
ul.list1 li,ul.list2 li,ul.list3 li,ul.list4 li,ul.list5 li,ul.list6 li,ul.list7 li,ul.list8 li,ul.list9 li,ul.list10 li,ul.list11 li,ul.list12 li,ul.list13 li,ul.list14 li,ul.list15 li,ul.list16 li
{
    display: block;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 24px;
}
ul.list1 li
{
    background: url('../images/fugue/tick.png') no-repeat left center transparent;
}
ul.list2 li
{
    background: url('../images/fugue/cross-script.png') no-repeat left center transparent;
}
ul.list3 li
{
    background: url('../images/fugue/minus.png') no-repeat left center transparent;
}
ul.list4 li
{
    background: url('../images/fugue/new-text.png') no-repeat left center transparent;
}
ul.list5 li
{
    background: url('../images/fugue/medal-red.png') no-repeat left center transparent;
}
ul.list6 li
{
    background: url('../images/fugue/hand-point.png') no-repeat left center transparent;
}
ul.list7 li
{
    background: url('../images/fugue/thumb-up.png') no-repeat left center transparent;
}
ul.list8 li
{
    background: url('../images/fugue/leaf.png') no-repeat left center transparent;
}
ul.list9 li
{
    background: url('../images/fugue/plus.png') no-repeat left center transparent;
}
ul.list10 li
{
    background: url('../images/fugue/smiley-wink.png') no-repeat left center transparent;
}
ul.list11 li
{
    background: url('../images/fugue/arrow-curve-000-left.png') no-repeat left center transparent;
}
ul.list12 li
{
    background: url('../images/fugue/layers-ungroup.png') no-repeat left center transparent;
}
ul.list13 li
{
    background: url('../images/fugue/address-book.png') no-repeat left center transparent;
}
ul.list14 li
{
    background: url('../images/fugue/mobile-phone--plus.png') no-repeat left center transparent;
}
ul.list15 li
{
    background: url('../images/fugue/mail-open.png') no-repeat left center transparent;
}
ul.list16 li
{
    background: url('../images/fugue/block.png') no-repeat left center transparent;
}
.s_icon1 h3,.s_icon2 h3,.s_icon3 h3,.s_icon4 h3,.s_icon5 h3,.s_icon6 h3,.s_icon7 h3,.s_icon8 h3,.s_icon9 h3,.s_icon10 h3,.s_icon11 h3,.s_icon12 h3
{
    margin-left: 47px;
    margin-top: 15px;
}
.s_icon1,.s_icon2,.s_icon3,.s_icon4,.s_icon5,.s_icon6,.s_icon7,.s_icon8,.s_icon9,.s_icon10,.s_icon11,.s_icon12
{
    background-position: 5px 17px;
    background-repeat: no-repeat;
}
.s_icon1
{
    background-image: url('../images/icons32/monitor.png');
}
.s_icon2
{
    background-image: url('../images/icons32/map.png');
}
.s_icon3
{
    background-image: url('../images/icons32/script-text.png');
}
.s_icon4
{
    background-image: url('../images/icons32/color-swatch.png');
}
.s_icon5
{
    background-image: url('../images/icons32/card-address.png');
}
.s_icon6
{
    background-image: url('../images/icons32/calendar-month.png');
}
.s_icon7
{
    background-image: url('../images/icons32/magnet.png');
}
.s_icon8
{
    background-image: url('../images/icons32/mail.png');
}
.s_icon9
{
    background-image: url('../images/icons32/balloon.png');
}
.s_icon10
{
    background-image: url('../images/icons32/database.png');
}
.s_icon11
{
    background-image: url('../images/icons32/folder.png');
}
.s_icon12
{
    background-image: url('../images/icons32/cross-circle.png');
}
.r_service
{
    background: url(../images/retina/app_48.png) no-repeat 0 8px;
    margin-bottom: 30px;
    min-height: 48px;
    padding-left: 56px;
}
.r_service h3
{
    margin-top: 0;
}
.r_service.icon1
{
    background-image: url(../images/retina/cart_48.png);
}
.r_service.icon2
{
    background-image: url(../images/retina/bulb_off_48.png);
}
.r_service.icon3
{
    background-image: url(../images/retina/favorites_add_48.png);
}
.r_service.icon4
{
    background-image: url(../images/retina/display_off_48.png);
}
.r_service.icon5
{
    background-image: url(../images/retina/hat_48.png);
}
.r_service.icon6
{
    background-image: url(../images/retina/note_48.png);
}
.r_service.icon7
{
    background-image: url(../images/retina/home_48.png);
}
.r_service.icon8
{
    background-image: url(../images/retina/app_globe_48.png);
}
.button
{
    background: #f5f5f5;
    background: linear-gradient(top,#f6f6f6 0,#dfdfdf 100%);
    background: -moz-linear-gradient(top,#f6f6f6 0,#dfdfdf 100%);
    background: -ms-linear-gradient(top,#f6f6f6 0,#dfdfdf 100%);
    background: -o-linear-gradient(top,#f6f6f6 0,#dfdfdf 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f6f6),color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(top,#f6f6f6 0,#dfdfdf 100%);
    border: solid 1px #aaa;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
    color: #333;
    display: inline;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#dfdfdf',GradientType=0);
    font: 100% Arial,Helvetica,sans-serif;
    margin: 0 3px 5px 0!important;
    moz-border-radius: 5px;
    moz-box-shadow: 0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
    padding: 5px 13px!important;
    text-decoration: none!important;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    vertical-align: middle;
    webkit-border-radius: 5px;
    webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(255,255,255,.5),inset 0 -1px 0 rgba(255,255,255,.3);
    zoom: 1;
}
.button:hover
{
    background: #f6f6f6;
    text-decoration: none;
}
.button.yellow
{
    background: #ffe20b;
    background: linear-gradient(top,#fff21e 0,#ffd901 100%);
    background: -moz-linear-gradient(top,#fff21e 0,#ffd901 100%);
    background: -ms-linear-gradient(top,#fff21e 0,#ffd901 100%);
    background: -o-linear-gradient(top,#fff21e 0,#ffd901 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff21e),color-stop(100%,#ffd901));
    background: -webkit-linear-gradient(top,#fff21e 0,#ffd901 100%);
    border-color: #edad14;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff21e',endColorstr='#ffd901',GradientType=0);
}
.button.yellow:hover
{
    background: #fff21e;
}
.button.orange
{
    background: #f9800f;
    background: linear-gradient(top,#ff9a22 0,#f46e01 100%);
    background: -moz-linear-gradient(top,#ff9a22 0,#f46e01 100%);
    background: -ms-linear-gradient(top,#ff9a22 0,#f46e01 100%);
    background: -o-linear-gradient(top,#ff9a22 0,#f46e01 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff9a22),color-stop(100%,#f46e01));
    background: -webkit-linear-gradient(top,#ff9a22 0,#f46e01 100%);
    border-color: #a3620a;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9a22',endColorstr='#f46e01',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.orange:hover
{
    background: #ff9a22;
}
.button.blue
{
    background: #4eb2f4;
    background: linear-gradient(top,#4eb2f4 0,#207ce5 100%);
    background: -moz-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
    background: -ms-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
    background: -o-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4eb2f4),color-stop(100%,#207ce5));
    background: -webkit-linear-gradient(top,#4eb2f4 0,#207ce5 100%);
    border-color: #0076a9;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4eb2f4',endColorstr='#207ce5',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.blue:hover
{
    background: #499bea;
}
.button.lightblue
{
    background: #49b3fc;
    background: linear-gradient(top,#76c7ff 0,#1da0fa 100%);
    background: -moz-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
    background: -ms-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
    background: -o-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#76c7ff),color-stop(100%,#1da0fa));
    background: -webkit-linear-gradient(top,#76c7ff 0,#1da0fa 100%);
    border-color: #0076a3;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c7ff',endColorstr='#1da0fa',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.lightblue:hover
{
    background: #76c7ff;
}
.button.darkblue
{
    background: #446693;
    background: linear-gradient(top,#446693 0,#192b49 100%);
    background: -moz-linear-gradient(top,#446693 0,#192b49 100%);
    background: -ms-linear-gradient(top,#446693 0,#192b49 100%);
    background: -o-linear-gradient(top,#446693 0,#192b49 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#446693),color-stop(100%,#192b49));
    background: -webkit-linear-gradient(top,#446693 0,#192b49 100%);
    border-color: #1c2e4d;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#446693',endColorstr='#192b49',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.darkblue:hover
{
    background: #436490;
}
.button.green
{
    background: #76ab3b;
    background: linear-gradient(top,#90c356 0,#649a27 100%);
    background: -moz-linear-gradient(top,#90c356 0,#649a27 100%);
    background: -ms-linear-gradient(top,#90c356 0,#649a27 100%);
    background: -o-linear-gradient(top,#90c356 0,#649a27 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#90c356),color-stop(100%,#649a27));
    background: -webkit-linear-gradient(top,#90c356 0,#649a27 100%);
    border-color: #4e7521;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90c356',endColorstr='#649a27',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.green:hover
{
    background: #90c356;
}
.button.limegreen
{
    background: #b9c701;
    background: linear-gradient(top,#b9c701 0,#678700 100%);
    background: -moz-linear-gradient(top,#b9c701 0,#678700 100%);
    background: -ms-linear-gradient(top,#b9c701 0,#678700 100%);
    background: -o-linear-gradient(top,#b9c701 0,#678700 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b9c701),color-stop(100%,#678700));
    background: -webkit-linear-gradient(top,#b9c701 0,#678700 100%);
    border-color: #5e7e00;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9c701',endColorstr='#678700',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.limegreen:hover
{
    background: #a9ba00;
}
.button.saddlebrown
{
    background: #bb5a0c;
    background: linear-gradient(top,#bb5a0c 0,#661704 100%);
    background: -moz-linear-gradient(top,#bb5a0c 0,#661704 100%);
    background: -ms-linear-gradient(top,#bb5a0c 0,#661704 100%);
    background: -o-linear-gradient(top,#bb5a0c 0,#661704 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bb5a0c),color-stop(100%,#661704));
    background: -webkit-linear-gradient(top,#bb5a0c 0,#661704 100%);
    border-color: #7d2906;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb5a0c',endColorstr='#661704',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.saddlebrown:hover
{
    background: #bb5a0c;
}
.button.red
{
    background: #e41d24;
    background: linear-gradient(top,#fb4e55 0,#d7020a 100%);
    background: -moz-linear-gradient(top,#fb4e55 0,#d7020a 100%);
    background: -ms-linear-gradient(top,#fb4e55 0,#d7020a 100%);
    background: -o-linear-gradient(top,#fb4e55 0,#d7020a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fb4e55),color-stop(100%,#d7020a));
    background: -webkit-linear-gradient(top,#fb4e55 0,#d7020a 100%);
    border-color: #9e0b0f;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb4e55',endColorstr='#d7020a',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.red:hover
{
    background: #fb4e55;
}
.button.darkred
{
    background: #bc1a02;
    background: linear-gradient(top,#bc1a02 0,#660500 100%);
    background: -moz-linear-gradient(top,#bc1a02 0,#660500 100%);
    background: -ms-linear-gradient(top,#bc1a02 0,#660500 100%);
    background: -o-linear-gradient(top,#bc1a02 0,#660500 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bc1a02),color-stop(100%,#660500));
    background: -webkit-linear-gradient(top,#bc1a02 0,#660500 100%);
    border-color: #810b01;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc1a02',endColorstr='#660500',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.darkred:hover
{
    background: #bc1a02;
}
.button.pink
{
    background: #bd5094;
    background: linear-gradient(top,#bd5094 0,#70204c 100%);
    background: -moz-linear-gradient(top,#bd5094 0,#70204c 100%);
    background: -ms-linear-gradient(top,#bd5094 0,#70204c 100%);
    background: -o-linear-gradient(top,#bd5094 0,#70204c 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bd5094),color-stop(100%,#70204c));
    background: -webkit-linear-gradient(top,#bd5094 0,#70204c 100%);
    border-color: #8f2761;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd5094',endColorstr='#70204c',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}
.button.pink:hover
{
    background: #bd5094;
}
.button.black
{
    background: #111;
    background: linear-gradient(top,#4f4f4f 0,#030303 100%);
    background: -moz-linear-gradient(top,#4f4f4f 0,#030303 100%);
    background: -ms-linear-gradient(top,#4f4f4f 0,#030303 100%);
    background: -o-linear-gradient(top,#4f4f4f 0,#030303 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4f4f4f),color-stop(100%,#030303));
    background: -webkit-linear-gradient(top,#4f4f4f 0,#030303 100%);
    border-color: #000;
    color: #eee!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f',endColorstr='#030303',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}
.button.black:hover
{
    background: #4f4f4f;
}
.button.purple
{
    background: #7933ac;
    background: linear-gradient(top,#9655c6 0,#661e9b 100%);
    background: -moz-linear-gradient(top,#9655c6 0,#661e9b 100%);
    background: -ms-linear-gradient(top,#9655c6 0,#661e9b 100%);
    background: -o-linear-gradient(top,#9655c6 0,#661e9b 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#9655c6),color-stop(100%,#661e9b));
    background: -webkit-linear-gradient(top,#9655c6 0,#661e9b 100%);
    border-color: #350d4c;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9655c6',endColorstr='#661e9b',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}
.button.purple:hover
{
    background: #9655c6;
}
.button.gray
{
    background: #888;
    background: linear-gradient(top,#adadad 0,#707070 100%);
    background: -moz-linear-gradient(top,#adadad 0,#707070 100%);
    background: -ms-linear-gradient(top,#adadad 0,#707070 100%);
    background: -o-linear-gradient(top,#adadad 0,#707070 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#adadad),color-stop(100%,#707070));
    background: -webkit-linear-gradient(top,#adadad 0,#707070 100%);
    border-color: #656565;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad',endColorstr='#707070',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.button.gray:hover
{
    background: #adadad;
}
.button.darkgray
{
    background: #646c75;
    background: linear-gradient(top,#646c75 0,#2c333a 100%);
    background: -moz-linear-gradient(top,#646c75 0,#2c333a 100%);
    background: -ms-linear-gradient(top,#646c75 0,#2c333a 100%);
    background: -o-linear-gradient(top,#646c75 0,#2c333a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#646c75),color-stop(100%,#2c333a));
    background: -webkit-linear-gradient(top,#646c75 0,#2c333a 100%);
    border-color: #21272d;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646c75',endColorstr='#2c333a',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.button.darkgray:hover
{
    background: #646c75;
}
.button.silver
{
    background: #d2d2d2;
    background: linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
    background: -moz-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
    background: -ms-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
    background: -o-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d2d2d2),color-stop(100%,#a5a5a5));
    background: -webkit-linear-gradient(top,#d2d2d2 0,#a5a5a5 100%);
    border-color: #727272;
    color: #fff!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d2d2',endColorstr='#a5a5a5',GradientType=0);
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.button.silver:hover
{
    background: #d2d2d2;
}
.button.small
{
    font-size: 85%;
    font-weight: normal;
    padding: 3px 8px!important;
}
.button.large
{
    font-size: 120%;
    font-weight: bold;
    padding: 8px 20px!important;
}
.button.bigger
{
    font-size: 150%;
    font-weight: bold;
    padding: 10px 22px!important;
}
.button.rect
{
    border-radius: 0;
    moz-border-radius: 0;
    webkit-border-radius: 0;
}
.button.rounded
{
    border-radius: 20em;
    moz-border-radius: 20em;
    webkit-border-radius: 20em;
}
.button.embossed
{
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -2px 0 rgba(0,0,0,.2),inset 0 -3px 0 rgba(255,255,255,.2);
    moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -2px 0 rgba(0,0,0,.2),inset 0 -3px 0 rgba(255,255,255,.2);
    padding-bottom: 6px;
    padding-top: 4px;
    webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -2px 0 rgba(0,0,0,.2),inset 0 -3px 0 rgba(255,255,255,.2);
}
.button.embossed.small,.button.small.embossed
{
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.2),inset 0 -2px 0 rgba(255,255,255,.2);
    moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2),inset 0 -2px 0 rgba(255,255,255,.2);
    padding-bottom: 2px;
    padding-top: 1px;
    webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.2),inset 0 -2px 0 rgba(255,255,255,.2);
}
.button.embossed.large,.button.large.embossed
{
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -4px 0 rgba(255,255,255,.2);
    moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -4px 0 rgba(255,255,255,.2);
    padding-bottom: 10px;
    padding-top: 6px;
    webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -4px 0 rgba(255,255,255,.2);
}
.button.embossed.bigger,.button.bigger.embossed
{
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -5px 0 rgba(255,255,255,.2);
    moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -5px 0 rgba(255,255,255,.2);
    padding-bottom: 14px;
    padding-top: 10px;
    webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5),inset 0 -3px 0 rgba(0,0,0,.2),inset 0 -5px 0 rgba(255,255,255,.2);
}
.button:active
{
    position: relative;
    top: 1px;
}
table
{
    border: 3px solid #d8d8d8;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}
table th,tfoot td
{
    background: #f1f2f4;
    border-right: 1px solid #d8d8d8;
    color: #555;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 13px;
    padding: 5px;
    text-align: left;
}
.default_w_ft tfoot td
{
    background: #f1f2f4;
    padding: 5px 13px;
}
table td
{
    background: #fff;
    border: 1px solid #d8d8d8;
    padding: 5px;
    padding-left: 13px;
    text-align: left;
}
table td:hover
{
    background-color: #f6f7f9;
}
table.style7
{
    border: none;
    width: 410px;
}
table.style7 th,table.style7 tfoot td,table.style7 tfoot td:hover
{
    background: none;
    border: none;
}
table.style7 tfoot td,table.style7 tfoot td:hover
{
}
table.style7 td
{
    background: none;
    border: none;
}
table.style7 td:hover
{
}
table.style2
{
    border: 3px solid #555;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}
table.style2 th,table.style2 tfoot td,table.style2 tfoot td:hover
{
    background: #999;
    border-right: 1px solid #555;
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 13px;
    padding: 5px;
    text-align: left;
    text-shadow: 0 1px 1px #555;
}
table.style2 tfoot td,table.style2 tfoot td:hover
{
    padding: 5px 13px;
}
table.style2 td
{
    background: #eee;
    border: 1px solid #555;
    padding: 5px;
    padding-left: 13px;
    text-align: left;
}
table.style2 td:hover
{
    background-color: #fff;
}
table.style3,table.style4
{
    border: 3px solid #555;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
}
table.style3 th,table.style4 th
{
    background: #999;
    border-right: 1px solid #555;
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 13px;
    padding: 5px;
    text-align: left;
    text-shadow: 0 1px 1px #555;
}
table.style3 td,table.style4 td
{
    background: #eee;
    border: 1px solid #555;
    padding: 5px;
    padding-left: 13px;
    text-align: left;
}
table.style3 td:first-child,table.style4 td:last-child
{
    background: #999;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px #555;
}
table.style3 th:first-child,table.style4 th:last-child
{
    background: #777;
}
ul.tabs
{
    background: #eaeaea;
    border: 1px solid #b7b7b7;
    border-radius: 5px 5px 0 0;
    float: left;
    height: 38px;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    moz-border-radius: 5px 5px 0 0;
    padding: 0;
    webkit-border-radius: 5px 5px 0 0;
    width: 100%;
}
ul.tabs li
{
    background: #eaeaea;
    border: 0;
    border-right: 1px solid #b7b7b7;
    float: left;
    height: 37px;
    line-height: 37px;
    margin: 0;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
ul.tabs li a
{
    border: 1px solid #fff;
    color: #555;
    display: block;
    font-size: 12px;
    font-weight: 700;
    outline: 0;
    padding: 0 20px;
    text-decoration: none;
}
ul.tabs li a:hover
{
    background: #fff;
    background: -moz-linear-gradient(top,#fff,#dedede);
    background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#dedede));
}
html ul.tabs li.active,html ul.tabs li.active a:hover
{
    background: #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.tab_container
{
    background: #f4f4f4;
    border: 1px solid #b7b7b7;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    clear: both;
    float: left;
    margin-bottom: 30px;
    moz-border-radius: 0 0 5px 5px;
    overflow: hidden;
    webkit-border-radius: 0 0 5px 5px;
    width: 100%;
}
.tab_content
{
    font-size: 12px;
    padding: 0 20px;
}
ul.tabs li:first-of-type,html ul.tabs li.active:first-of-type,html ul.tabs li.active a:first-of-type,html ul.tabs li:first-of-type a,html ul.tabs li.active:first-of-type a:hover,ul.tabs li:first-of-type a:hover
{
    border-radius: 5px 0 0 0;
    moz-border-radius: 5px 0 0 0;
    webkit-border-radius: 5px 0 0 0;
}
.accordion_place
{
    padding-bottom: 20px;
}
.accordion_block
{
    margin: 2px 0;
}
.accordion_button
{
    background: #fff;
    background: -moz-linear-gradient(top,#fff,#dedede);
    background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#dedede));
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    color: #555;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    list-style: none;
    margin: 0;
    moz-border-radius: 5px;
    padding: 0;
    webkit-border-radius: 5px;
    width: 100%;
}
.accordion_button .title
{
    margin-left: 20px;
    padding: 0;
}
.accordion_container
{
    background: #f4f4f4;
    border: 1px solid #b7b7b7;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    clear: both;
    float: left;
    moz-border-radius: 0 0 5px 5px;
    overflow: hidden;
    webkit-border-radius: 0 0 5px 5px;
    width: 100%;
}
.accordion_last
{
    border-bottom: 1px solid #b7b7b7;
}
.accordion_content
{
    font-size: 12px;
    padding: 0 20px;
}
.acdn_on
{
    background: #dedede;
    background: -moz-linear-gradient(top,#dedede,#ffffff);
    background: -webkit-gradient(linear,0 0,0 100%,from(#dedede),to(#ffffff));
    border-bottom: 1px solid #b7b7b7;
    border-radius: 5px 5px 0 0;
    moz-border-radius: 5px 5px 0 0;
    webkit-border-radius: 5px 5px 0 0;
}
.acdn_over
{
    background: #dedede;
    background: -moz-linear-gradient(top,#dedede,#ffffff);
    background: -webkit-gradient(linear,0 0,0 100%,from(#dedede),to(#ffffff));
}
.toggle_block h4
{
    background: url(../images/icons24/plus-black.png) no-repeat 11px center;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 5px;
    moz-border-radius: 8px;
    padding: 7px 0 7px 44px;
    webkit-border-radius: 8px;
}
.toggle_block h4.tgg_close
{
    background: url(../images/icons24/minus-black.png) no-repeat 11px center;
    color: #000;
}
.toggle_block .toggle_content .inner
{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 12px;
    moz-border-radius: 8px;
    padding: 10px 20px 5px;
    webkit-border-radius: 8px;
}
.form_place
{
    margin: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}
input.i-format[type="text"],input.i-format[type="password"]
{
    border: 1px solid #999;
    height: auto;
    min-width: 100%;
    width: auto;
}
textarea.default
{
    min-width: 100%;
    width: auto;
}
textarea
{
    border: 1px solid #999;
    height: 260px;
    line-height: 24px;
    padding-left: 1%;
}
.field600px,.field500px,.field400px,.field300px,.field200px,.field250px,.field100px
{
    border: 1px solid #999;
    height: 26px;
    line-height: 26px;
    padding-left: 3px;
}
.field600px
{
    width: 595px!important;
}
.field500px
{
    width: 495px!important;
}
.field400px
{
    width: 395px!important;
}
.field300px
{
    width: 295px!important;
}
.field200px
{
    width: 195px!important;
}
.field250px
{
    width: 245px!important;
}
.field100px
{
    width: 95px!important;
}
textarea.field400px
{
    min-height: 200px;
    width: 395px!important;
}
textarea.field200px
{
    min-height: 125px;
    width: 195px!important;
}
input[type="text"],input[type="password"],textarea
{
    background-color: #fff;
    border-radius: 5px;
    font-family: "Helvetica",Arial,sans-serif;
    moz-border-radius: 5px;
    padding: 8px 4px;
    webkit-border-radius: 5px;
}
input[type="text"],input[type="password"],textarea,select
{
    outline: 0;
}
input[type="submit"],input[type="reset"]
{
    cursor: pointer;
    outline: 0;
    padding: 7px 12px;
}
.form_row
{
    margin-left: 0!important;
    margin-right: 0!important;
}
.form_row .grid_9
{
    margin-right: 0!important;
}
.form_row
{
    border: 0;
    line-height: 24px;
    min-height: 30px;
    padding-bottom: 15px;
    padding-top: 5px;
    position: relative;
    vertical-align: middle;
}
.form_row .grid_3
{
    padding-top: 2px;
}
.form_row label,.form_row .grid_3 .field_name
{
    font-weight: 700;
    margin-left: 0;
}
.label400 label
{
    font-weight: 400;
}
.block_content
{
}
.input_tips
{
    color: #888;
    font-size: 10px;
}
.validEmail
{
    height: 16px;
    position: absolute;
    right: 15px;
    top: 22px;
    width: 16px;
}
select
{
    text-shadow: none!important;
}